<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma CAi - Academia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <style>
    .columns:nth-child(2)
    {margin-top: -10rem;}
    </style>
  </head>
  <body>
    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Academia, Investigación y Emprendimiento
          </p>
        </div>
      </div>
    </section>
    <section class="container">
      <!-- Inicio primera columna -->
      <div class="columns features">
        <!-- Inicio tarjeta -->
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Catastro emprendimientos en ingenierı́a</h4>
                    <p class="tag is-primary">Emprendimiento</p>
                    <p>Catastro de los emprendimientos de los estudi-
                        antes de la escuela. Lo ideal es coordinar la realización de éste con el final de los
                        cursos Investigación, Innovación y Emprendimiento (ING2030).</p>
                    <span class="button is-link modal-button" data-target="modal-card">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <!-- Final tarjeta -->
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Plataforma Fondo-Emprendedor</h4>
                <p class="tag is-primary">Emprendimiento</p>
                <p>Desarrollar una plataforma donde los emprendedores puedan encontrar 
                    información centralizada respecto a qué fondos puede postular dependiendo del rubro de
                    su proyecto y el grado de avance del mismo.</p>
                <span class="button is-link modal-button" data-target="modal-card2">Detalles</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Postulación acompañada</h4>
                    <p class="tag is-primary">Emprendimiento</p>
                    <p>Una vez elegido el fondo al que postular, los emprendedores se encuentran con un
                            nuevo desafı́o: la inscripción. El formulario de postulación a estos fondos suele ser
                            largo, detallado, técnico y engorroso.</p>
                    <span class="button is-link modal-button" data-target="modal-card3">Detalles</span>
                </div>
                </div>
            </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Apoyo especifı́co</h4>
                    <p class="tag is-primary">Emprendimiento</p>
                    <p>Algunas veces un emprendimiento aún es sólamente una idea. Otras veces nece-
                            sita apoyo en un aspecto especı́fico del proceso de diseño para surgir, como el pro-
                            totipo, modelo de negocios, patente, etc.</p>
                    <span class="button is-link modal-button" data-target="modal-card4">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Semana del Emprendimiento</h4>
                    <p class="tag is-primary">Emprendimiento</p>
                    <p>Se realizará una semana en el mes de Junio enfocada al emprendimiento y la innovación. Entre las actividades que
                            la componen se encontrará la Feria de Emprendimientos de Ingenierı́a UC, la Feria de
                            Fondos Concursables, Shark Tank InterUniversitario, entre otros.</p>
                    <span class="button is-link modal-button" data-target="modal-card5">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Emprendedores Backstage</h4>
                    <p class="tag is-primary">Emprendimiento</p>
                    <p>Dar a conocer casos de éxito con emprendedores egresados de la universidad.
                            Para los y las estudiantes es una gran fuente de ayuda y motivación ver a otros
                            estudiantes que han emprendido en ingenierı́a para demostrar que sı́ es posible.</p>
                    <span class="button is-link modal-button" data-target="modal-card6">Detalles</span>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: -10rem;" class="columns features">
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/academia_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>¿BusCAi equipo?</h4>
                  <p class="tag is-primary">Emprendimiento</p>
                  <p>Se ha visto que muchas veces un emprendimiento no surge no por no ser buena
                        idea, sino porque falta un integrante en el equipo con habilidades o conocimiento
                        clave que no se pudo encontrar.</p>
                  <span class="button is-link modal-button" data-target="modal-card7">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/academia_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Revivamos el patio</h4>
                  <p class="tag is-primary">Emprendimiento</p>
                  <p> Proponemos redisenar el patio de ingeniería, generando un ambiente propicio para
                    el estudio, donde los y las estudiantes se sientan cómodos, felices de innovar y compartir.
                    </p>
                  <span class="button is-link modal-button" data-target="modal-card8">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
        <div class="card is-shady">
            <div class="card-image">
            <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
            </figure>
            </div>
            <div class="card-content">
            <div class="content">
                <h4>ISEL 2020</h4>
                <p class="tag is-primary">Emprendimiento</p>
                <p>En conjunto con Ikigai se retomará el evento International Seminar for Engineering Leaders desarrollado por
                    Kaizen CAi en 2017. Esta es una instancia para que estudiantes de Ingeniería UC se
                    hagan parte del emprendimiento, innovación y liderazgo, formando redes de calidad a
                    nivel internacional.
                    </p>
                <span class="button is-link modal-button" data-target="modal-card9">Detalles</span>
            </div>
            </div>
        </div>
    </div>
  </div>
    <div style="margin-top: -10rem;" class="columns features">
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/academia_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>NACE +</h4>
                  <p class="tag is-primary">Emprendimiento</p>
                  <p>Proyecto que busca apoyar, impulsar y fomentar el talento de los estudiantes que
                    ingresaron por la vía talento científico-emprendedor NACE. </p>
                  <span class="button is-link modal-button" data-target="modal-card10">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/academia_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Quiénes nos enseñan</h4>
                  <p class="tag is-danger">Academia</p>
                  <p>La encuesta docente ha sido un tópico muy recurrido los últimos años dado la
                    importancia que tiene para mejorar los cursos y que los profesores reciban feedback
                    constructivos de sus clases.</p>
                  <span class="button is-link modal-button" data-target="modal-card11">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/academia_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>IPRES en un minuto</h4>
                  <p class="tag is-danger">Academia</p>
                  <p>Nuestro objetivo es visibilizar a los profesores y sus proyectos hacia los estudi-
                    antes, en especial a aquellos que están entrando a la universidad. Con el objetivo de
                    aportar conocimiento para que puedan planificar la continuación de estudios en post-
                    grado y aportan al movimiento de la frontera de conocimiento.</p>
                  <span class="button is-link modal-button" data-target="modal-card12">Detalles</span>
              </div>
              </div>
          </div>
      </div>
    </div>
    <div style="margin-top: -10rem;" class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Actividades competitivas</h4>
                    <p class="tag is-danger">Academia</p>
                    <p>Con el enfoque de generar espacios donde se comparta conocimiento con estudi-
                        antes y profesores de intereses afines, proponemos generar actividades competitivas tipo STEM.</p>
                    <span class="button is-link modal-button" data-target="modal-card13">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>CAi moviendo fronteras</h4>
                    <p class="tag is-danger">Academia</p>
                    <p>En el primer semestre e recolectará los currículums de estudiantes que tengan proyectos personales, para que en el segundo
                        semestre poder conectarlos con profesores que puedan potenciar el área que desean desarollar.</p>
                    <span class="button is-link modal-button" data-target="modal-card14">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Re-evaluándonos</h4>
                    <p class="tag is-danger">Academia</p>
                    <p>Proponemos impulsar con el Cuerpo de Ayudantes un método de evaluación online donde los estudiantes puedan evaluar, en modo de feedback, a sus ayudantes mensualmente.</p>
                    <span class="button is-link modal-button" data-target="modal-card15">Detalles</span>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: -10rem;" class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Transformando ayudantı́as</h4>
                    <p class="tag is-danger">Academia</p>
                    <p>Un problema que se presenta para los nuevos ayudantes es saber cómo empezar a
                        enseñar, por lo que proponemos trabajar con el Cuerpo de Ayudantes para mejorar
                        la forma en que se hace cátedra hoy en la escuela, mediante el fortalecimiento de
                        los talleres de capacitación.</p>
                    <span class="button is-link modal-button" data-target="modal-card16">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Consultando mis ramos</h4>
                    <p class="tag is-danger">Academia</p>
                    <p>Hoy en dı́a, para saber qué ramos tomar, los estudiantes consultan en el grupo
                        ”CURSOS UC” sobre los profesores y ramos recomendados. Esta es una plataforma
                        informal, la cual no está siempre completa con la información que uno busca.</p>
                    <span class="button is-link modal-button" data-target="modal-card17">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Buscacursos a los estudiantes</h4>
                    <p class="tag is-danger">Academia</p>
                    <p>Algunos estudiantes sufren estrés a la hora de tomar ramos al no saber si su grupo
                        de Banner les va a alcanzar para tomar los cursos que desean. Se propone desde
                        el CAi, establecer una base de datos la cual registre en qué
                        grupo de banner se acaban los cupos y cuántos de estos avanzan a la siguiente toma.</p>
                    <span class="button is-link modal-button" data-target="modal-card18">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div style="margin-top: -10rem;" class="columns features">
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                    </figure>
                    </div>
                    <div class="card-content">
                    <div class="content">
                        <h4>Nivelación 2019-2</h4>
                        <p class="tag is-danger">Academia</p>
                        <p>El segundo semestre de 2019 se vio afectado por la contingencia nacional, por lo
                            que las facultades debieron tomar diversas decisiones para poder cerrar las notas.
                            Por lo que en conjunto al proyecto GoIng realizaremos una nivelación para que quienes no
                            pudieron realizar sus cursos completos.
                            </p>
                        <span class="button is-link modal-button" data-target="modal-card19">Detalles</span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                    </figure>
                    </div>
                    <div class="card-content">
                    <div class="content">
                        <h4>TEDx para la academia</h4>
                        <p class="tag is-danger">Academia</p>
                        <p>Buscando acercar expertos a la comunidad local, proponemos conseguir nuevamente
                            una licencia TEDx y organizar charlas definidas por el estado del arte. </p>
                        <span class="button is-link modal-button" data-target="modal-card20">Detalles</span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                    </figure>
                    </div>
                    <div class="card-content">
                    <div class="content">
                        <h4>Observando nuestros ramos</h4>
                        <p class="tag is-danger">Academia</p>
                        <p>Proponemos visibilizar y transparentar problemas de exigencia que tengan los estudiantes en sus ramos.</p>
                        <span class="button is-link modal-button" data-target="modal-card21">Detalles</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        
    </section>
    
    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny -->
    <div id="modal-card" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../images/academia_picture.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Catastro emprendimientos en ingenierı́a</p>
                <p class="tag is-primary">Emprendimiento</p>
              </div>
            </div>
            <div class="content">
                Realizar todos los semestres un catastro de los emprendimientos de los estudi-
                antes de la escuela. Lo ideal es coordinar la realización de éste con el final de los
                cursos Investigación, Innovación y Emprendimiento (ING2030), Desafı́os de la In-
                genierı́a (ING1004) o cursos IDI. Este catastro deberá detallar en qué consiste el
                emprendimiento, en qué área se enmarca y en qué etapa de desarrollo se encuentra.
                Ası́ se podrá realizar seguimiento y ofrecer las herramientas y ayuda correspondiente
                para ese proyecto en especı́fico.
              <br>
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- 3dFlipVertical card tiny [butterfly] -->
    <div id="modal-card2" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Plataforma Fondo-Emprendedor</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Desarrollar una plataforma donde los emprendedores puedan encontrar infor-
                    mación centralizada respecto a qué fondos puede postular dependiendo del rubro de
                    su proyecto y el grado de avance del mismo. Como CAi, buscamos ser una fuente de
                    información, apoyo y nexo directo con los emprendedores.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- Image modal -->
    <div id="modal-card3" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Postulación acompañada</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Una vez elegido el fondo al que postular, los emprendedores se encuentran con un
                    nuevo desafı́o: la inscripción. El formulario de postulación a estos fondos suele ser
                    largo, detallado, técnico y engorroso. Es por esto que como CAi queremos acompañar
                    a nuestros compañeros emprendedores proveyéndolos de asesorı́as o mentoring para
                    el proceso de postulación a fondos, conectandolos con la dirección de innovación.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card4" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Apoyo especifı́co</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Algunas veces un emprendimiento aún es sólamente una idea. Otras veces nece-
                    sita apoyo en un aspecto especı́fico del proceso de diseño para surgir, como el pro-
                    totipo, modelo de negocios, patente, etc. Como CAi queremos ser el nexo entre
                    ese emprendedor y el contacto o profesor especialista que necesita para poder seguir
                    avanzando en su proyecto.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card5" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Semana del Emprendimiento</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Se realizará una semana en el mes de junio enfocada al emprendimiento y la innovación en conjunto con la Subdirección de Innovación. A continuación se presentan
                    algunas de las actividades que se llevarán a cabo.
                    Feria de Emprendimientos Ingeniería UC: Durante dos días, emprendedores de nuestra
                    escuela nos mostrarán en el patio sus emprendimientos sociales, tecnológicos y/o comerciales. Esto es con el fin de potenciar y visibilizar a nuestros emprendedores.
                    Feria Fondos Concursables: Coordinadores de fondos concursables publicos y privados tal
                    como Jump Chile, Brain Chile, Aplica Tu Idea, Programa SINLIMITES, Alto Impacto
                    COLAB, Start-Up Chile, entre otros, estarán en el patio resolviendo dudas e informando
                    de que se trata cada uno de ellos. De esta manera, los emprendedores de la escuela se
                    pueden informar de las distintas posibilidades que tienen para reunir capital y escoger el
                    mejor para ellos y ellas.
                    Foro estallido social y la innovación: Se realizará un foro donde se discutirá el impacto
                    de la innovación en el estallido social y cómo esta área puede ser de importancia para
                    resolver problemas sociales.
                    Foro de discusión para emprendendores en ingeniería UC: Se realizará un foro donde estudiantes podrán preguntarle a sus companeros y compañeras emprendedores sus dificultades, desafios, motivaciones, entre otros, al momento de decidir emprender.
                    Feria de Puestos Laborales en Start-Ups: Durante un día, Start-Ups se instalarán en el
                    patio ofreciendo puestos de trabajo para nuestros estudiantes. Esto permitirá fomentar
                    el ecosistema de innovación no solo al nivel de la escuela, sino a nivel nacional.
                    Shark Tank InterUniversitario: Queremos continuar con la actividad realizada por Punto
                    CAi y realizar una competencia donde emprendedores se enfrentarán a jueces del área
                    de innovación y emprendimiento, a los cuales deberán realizar un pitch de 3 minutos.
                    Los ganadores podrían tener una oficina en el Centro de Innovación, mentorías, asesorias
                    jurídicas, entre otros. A diferencia del ano anterior, queremos que este Shark Tank no sea
                    solo a nivel ingeniería UC, por lo que estudiantes de ingeniería de otras escuelas pueden
                    participar.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card6" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Emprendedores Backstage</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Dar a conocer casos de éxito con emprendedores egresados de la universidad.
                    Para los y las estudiantes es una gran fuente de ayuda y motivación ver a otros
                    estudiantes que han emprendido en ingenierı́a para demostrar que sı́ es posible. Dar
                    esta instancia para resolver dudas y miedos acerca del mundo del emprendimiento.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card7" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">¿BusCAi equipo?</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Se ha visto que muchas veces un emprendimiento no surge no por no ser buena
                    idea, sino porque falta un integrante en el equipo con habilidades o conocimiento
                    clave que no se pudo encontrar. Como CAi, queremos establecer esas relaciones
                    entre personas de diferentes especialidades en la Escuela de Ingenierı́a para que, en
                    conjunto, se pueda continuar el desarrollo del proyecto para llegar al objetivo con
                    éxito. Esto se hará a
                    partir de una plataforma, donde tanto emprendedores colocarán anuncios de las personas
                    con ciertas aptitudes que necesitan o estudiantes interesados en formar parte de un
                    emprendimiento colocarán anuncios con sus aptitudes. Esta plataforma se trabajará con
                    la Subdirección de Innovación.
                    

                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card8" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Revivamos el patio</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Distintos estudios, tales como “Ethonomics: Designing for the principles of the modern workplace” en el 2015, “Happiness and productivity” en el 2014, y otro de la Universidad Politécnica de Madrid y la Universidad de Keio en Japón, detallan que el ambiente
afecta la felicidad, y que al sentirse a gusto en el espacio de trabajo su productividad
mejora. Los ambientes grises, no ayudan a generar comodidad en las personas, pero
sí tener desniveles, vegetación, sillas novedosas y citas motivacionales. Existen hoy en
día oficinas innovadoras, que buscan crear ambientes cómodos, que hagan felices a las
personas estimulando su productividad, creatividad e ideas innovadoras. Algunos ejemplos de este tipos de ambientes son las oficinas de Google, Facebook y Airbnb. Por
esto, proponemos redisenar el patio de ingeniería, generando un ambiente propicio para
el estudio, donde los y las estudiantes se sientan cómodos, felices de innovar y compartir.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card9" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">ISEL 2020</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Se retomará el evento International Seminar for Engineering Leaders desarrollado por
Kaizen CAi en 2017. Esta es una instancia para que estudiantes de Ingeniería UC se
hagan parte del emprendimiento, innovación y liderazgo, formando redes de calidad a
nivel internacional. Esta nueva versión tendrá el foco de crear un mundo mejor a partir
de un liderazgo responsable y efectivo. De esta manera, identificamos y reuniremos en
nuestro campus a los líderes jóvenes más influyentes a nivel global, que están buscando
en el área de medioambiente, salud, tecnología, educación u otra, hacer un mundo mejor.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card10" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Observando nuestros ramos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Hay muchos datos de nuestros cursos que como estudiantes desconocemos pero
                    están disponibles, estos llegan desde evaluaciones pasadas a resúmenes de notas de los
                    cursos. Por eso proponemos un catastro de promedios de los cursos y evaluaciones
                    en años anteriores, mostrando los resultados abiertamente en el patio. Esto nos
                    permitirá como escuela transparentar los cursos e identificar posibles problemas.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card11" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Quiénes nos enseñan</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    La encuesta docente ha sido un tópico muy recurrido los últimos años dado la
                    importancia que tiene para mejorar los cursos y que los profesores reciban feedback
                    constructivos de sus clases. Desde academia proponemos generar instancias donde
                    profesores y alumnos puedan reunirse pero con un objetivo claro de que los profe-
                    sores consigan feedback de primera mano de sus alumnos, además de fomentar estas
                    instancias con un simulacro de encuesta docente para evaluar a los profesores invi-
                    tados. Esta instancia se enfocará en buscar a profesores dispuestos a participar e
                    invitar a un grupo de sus alumnos que hayan cursado o estén cursando algún ramo
                    con el profesor.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card12" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">IPRES en un minuto</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Nuestro objetivo es visibilizar a los profesores y sus proyectos hacia los estudi-
                    antes, en especial a aquellos que están entrando a la universidad. Con el objetivo de
                    aportar conocimiento para que puedan planificar la continuación de estudios en post-
                    grado y aportan al movimiento de la frontera de conocimiento. Nuestra propuesta
                    es preparar una presentación para la primera clase de los cursos, una por major, con
                    las últimas investigaciones realizadas el semestre anterior y trabajar en conjunto con
                    los departamentos, con el objetivo de mostrar a los estudiantes el potencial de lo
                    que están estudiando. Con esto logramos visibilizar también las distintas áreas de
                    investigación que tiene nuestra escuela.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card13" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Actividades competitivas</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Con el enfoque de generar espacios donde se comparta conocimiento con estudi-
                    antes y profesores de intereses afines, proponemos generar actividades competitivas tipo STEM (Science, Technology, Engineering and Matjematics)
                    desde el CAi hacia los majors, con el objetivo de reforzar competencias adquiridas
                    o por adquirir desde los distintos estamentos. 
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card14" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">CAi moviendo fronteras</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Es importante generar espacios donde los estudiantes que están interesados en aplicar
                    sus conocimientos, y no solamente en investigar, puedan convivir con los profesores. En
                    el primer semestre se recolectará los currículums de estudiantes que tengan proyectos personales, para que en el segundo semestre poder conectarlos con profesores que puedan
                    potenciar el área que desean desarrollar. Con ello se busca aplicar la investigación de los
                    profesores y las ganas de crear del estudiantados y generar ideas llamativas, interesantes
                    y aplicables.
                    
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card15" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Re-evaluándonos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Somos los ayudantes de nuestros ramos, por lo cual es importante saber
                    cómo estamos realizando nuestra tarea de ayudar a nuestros compañeros de carrera.
                    Por eso, proponemos implementar con el Cuerpo de Ayudantes un método de evaluación online donde los estudiantes puedan evaluar, en modo de feedback, a sus ayudantes mensualmente.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card16" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Transformando ayudantı́as</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Un problema que se presenta para los nuevos ayudantes es saber cómo empezar a
                    enseñar, por lo que proponemos trabajar con el Cuerpo de Ayudantes para mejorar
                    la forma en que se hace cátedra hoy en la escuela, mediante el fortalecimiento de
                    los talleres de capacitación. Además de incluir en estos talleres propuestas de cómo
                    incluir a estudiantes en situación de discapacidad en las ayudantı́as y como darles
                    herramientas potentes para sobrellevar la universidad.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card17" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Consultando mis ramos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Hoy en dı́a, para saber qué ramos tomar, los estudiantes consultan en el grupo
                    ”CURSOS UC” sobre los profesores y ramos recomendados. Esta es una plataforma
                    informal, la cual no está siempre completa con la información que uno busca. Existe
                    la encuesta docente que busca evaluar a los profesores y ayudarlos a mejorar sus
                    clases. Nuestra propuesta es hacer una plataforma formal en la cual los estudiantes
                    entregan información cuantitativa de los ramos tal como, la cantidad de interrogaciones, existencia de controles,
                    proyectos en grupo elegidos o al azar, clases online, eximición, entre otros.
                    De esta manera, los estudiantes tendrán información objetiva de lo que demanda el curso.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card18" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Buscacursos a los estudiantes</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Algunos estudiantes sufren estrés a la hora de tomar ramos al no saber si su grupo
                    de Banner les va a alcanzar para tomar los cursos que desean. Se propone desde
                    el CAi, establecer una base de datos la cual registre en qué
                    grupo de banner se acaban los cupos y cuántos de estos avanzan a la siguiente toma. El fin
                    es presentar la predicción a los distintos departamentos de ingenieía, para que tengan información
                    de la posible cantidad de personas que quieren tomar el ramo, lo que puede impactar en la cantidad de cupos
                    que se abren para los ramos en semestres posteriores. Nos basamos en que ya hay implementaciones predictivas por estudiantes de nuestra escuela.
                    
                    que los estudiantes accedan a información transparente. Nos basamos en que hay
                    precedentes de este tipo de información ya disponible, por implementaciones propias
                    de estudiantes de nuestra escuela.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card19" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Nivelación 2019-2</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    El segundo semestre de 2019 se vio afectado por la contingencia nacional, por lo
                    que las facultades debieron tomar diversas decisiones para poder cerrar las notas. En
                    algunos casos, como Matemáticas, se optó por disminuir los contenidos de los ramos,
                    por lo que en conjunto al proyecto GoIng realizaremos una nivelación para que quienes no
                    pudieron realizar sus cursos completos, tengan la oportunidad de aprender lo necesario
                    para continuar con sus estudios de la mejor manera posible.    
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div id="modal-card20" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">TEDx para la academia/p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Buscando acercar expertos a la comunidad local, proponemos conseguir nuevamente
una licencia TEDx y organizar charlas definidas por el estado del arte. Con esto buscamos
reforzar como la escuela se conecta con las nuevas temáticas de investigación y desarrollo científico. En especial fomentar instancias para investigaciones en sustentabilidad y
contingencia nacional.

                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div id="modal-card21" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/academia_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Observando nuestros ramos </p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Proponemos visibilizar y transparentar problemas de exigencia que tengan los estudiantes en sus ramos. Por lo tanto, llevaremos al patio, de manera dinámica, actividades
que nos permitan conocer en que ramos estan ocurriendo dicho problema. A partir de
esta información recopilada, se filtrará y se trabajará con la Dirección de Educación de
Ingeniería (DEi) y los comites 3+3 con el fin de mejorar las dificultades levantadas.

                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
    <script src="../js/wild.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>  
  </body>
</html>