<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma CAi - Bienestar y Salud Mental</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <style>
    .columns:nth-child(2)
    {margin-top: -10rem;}
    </style>
  </head>
  <body>
    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Bienestar y Salud Mental
          </p>
        </div>
      </div>
    </section>
    <section class="container">
      <!-- Inicio primera columna -->
      <div class="columns features">
        <!-- Inicio tarjeta -->
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>CARE a la práctica</h4>
                    <p>Actualmente la Escuela se encuentra implementando el programa del CARE,
                            pero esto no siempre se ve reflejado en lo académico. Existe una divergencia entre las
                            exigencias de algunos ramos y lo que busca el programa.</p>
                    <span class="button is-link modal-button" data-target="modal-card1">Detalles</span>

                </div>
                </div>
            </div>
        </div>
        <!-- Final tarjeta -->
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Ingeniería Previene</h4>
                <p>Queremos volver a impulsar este programa de prevención y reiniciar los ciclos de
                        capacitaciones de los Pares de Apoyo Universitarios (PAU).</p>
                <span class="button is-link modal-button" data-target="modal-card2">Detalles</span>

              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Protocolo para situaciones críticas en pruebas</h4>
                    <p>Desde el testimonio de varios estudiantes, surge la inquietud de no saber cómo
                            actuar cuando alguien presenta alguna situación crítica. </p>
                    <span class="button is-link modal-button" data-target="modal-card3">Detalles</span>

                </div>
                </div>
            </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Bienestar es máss que salud mental</h4>
                    <p>La preocupación por la salud mental ya se planteó y se aceptó como un punto
                            importante a trabajar. Aún así, queremos potenciar la idea de que el bienestar
                            va mucho máss allá que eso.</p>
                    <span class="button is-link modal-button" data-target="modal-card4">Detalles</span>

                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Hablemos de. . .</h4>
                    <p>Hay muchas vivencias comunes entre los alumnos que no se están conversando,
                            muchos temas que se consideran tabúes y se esconden por vergüenza. </p>
                            <span class="button is-link modal-button" data-target="modal-card5">Detalles</span>

                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Actividades de relajación</h4>
                    <p>Queremos continuar con Bienestar con Huellas, uno de los proyectos que más
                            rompen la rutina durante días de prueba, al contar con compañía de perros terapeúticos.</p>
                            <span class="button is-link modal-button" data-target="modal-card6">Detalles</span>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: -10rem;" class="columns features">
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Manual Ing UC</h4>
                  <p>Para ayudar a los estudiantes en su paso por la universidad, lanzaremos un manual
                        digital con tips y recomendaciones sobre la vida universitaria.</p>
                <span class="button is-link modal-button" data-target="modal-card7">Detalles</span>

              </div>
              </div>
          </div>
    
        
    </section>
    
    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny -->
    <div id="modal-card1" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">CARE a la práctica</p>
              </div>
            </div>
            <div class="content">
                    Actualmente la Escuela se encuentra implementando el programa del CARE,
                    pero esto no siempre se ve reflejado en lo académico. Existe una divergencia entre las
                    exigencias de algunos ramos y lo que busca el programa. Es por esto que pretendemos
                    trabajar en conjunto con las autoridades para ver cómo continuar con el trabajo del
                    CARE de forma que se lleve a la práctica y que los profesores estén alineados con
                    los intereses de Decanato.

              <br>
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- 3dFlipVertical card tiny [butterfly] -->
    <div id="modal-card2" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Ingeniería Previene</p>
                </div>
                </div>
                <div class="content">
                        Queremos volver a impulsar este programa de prevención y reiniciar los ciclos de
                        capacitaciones de los Pares de Apoyo Universitarios (PAU). Por otra parte, queremos
                        extender la invitación a estas instancias a profesores y administrativos, además de
                        los estudiantes. Mientras más personas sepan cómo trabajar estas temáticas, avanzaremos en la prevención y promoción. Queremos potenciar el rol de los PAU para
                        que no se ocupen únicamente de las crisis de psicológicas, sino que brinden apoyo
                        constante para prevenir estas crisis. Esto podría verse como una analogía con los
                        tutores, pero que no solo interactúen con los novatos.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <div id="modal-card3" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Protocolo para situaciones críticas en pruebas</p>
                        </div>
                        </div>
                        <div class="content">
                                Desde el testimonio de varios estudiantes, surge la inquietud de no saber cómo
                                actuar cuando alguien presenta alguna situación crítica. Es por esto que resulta
                                necesario generar un protocolo de acción frente a posibles crisis de pánico, crisis
                                ansiosas, llantos u otras experiencias que tenga un estudiante rindiendo prueba.
                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        </div>
        <div id="modal-card4" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Bienestar es más que salud mental</p>
                        </div>
                        </div>
                        <div class="content">
                                La preocupación por la salud mental ya se planteó y se aceptó como un punto
                                importante a trabajar. Aún así, queremos potenciar la idea de que el bienestar
                                va mucho más allá que eso. Es por esto que queremos generar instancias en las
                                que se promueva el autocuidado de la salud por medio de la higiene del sueño, la
                                alimentación saludable, realización de deporte, la salud sexual, entre otras cosas.
                                Por último, dar a conocer prácticas respaldadas por la psicología positiva como la
                                meditación, expresar la gratitud y muchas más. Estas instancias se trabajarán en
                                conjunto con PES y Salud Estudiantil, y se complementarán con difusiones por medio
                                de intervenciones en el patio y redes sociales.
                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        </div>
        <div id="modal-card5" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Hablemos de. . .</p>
                        </div>
                        </div>
                        <div class="content">
                                Hay muchas vivencias comunes entre los alumnos que no se están conversando,
                                muchos temas que se consideran tabúes y se esconden por vergüenza. Queremos
                                combatir los estigmas asociados a temáticas como la ansiedad, el insomnio, el sentirse
                                poco capaz de rendir académicamente y tantas más. Para empezar a marcar una
                                diferencia en esto, tendremos momentos de conversaciones temáticas, en los cuales se
                                compartirán experiencias, promoviendo un ambiente de contención y respeto. Esto
                                permitirá acompañar cuando se está enfrentando una situación compleja y generará
                                oportunidades para conocer cómo otros las han enfrentado en su momento.
                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        </div>
        <div id="modal-card6" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Actividades de relajación</p>
                        </div>
                        </div>
                        <div class="content">
                                Queremos continuar con Bienestar con Huellas, uno de los proyectos que más
                                rompen la rutina durante días de prueba, al contar con compañía de perros terapeúticos. También crear instancias en las que la comunidad pueda explorar la
                                música como método para liberar estrés. Se pueden dar distintas situaciones para
                                lograr que la gente se relacione en un ambiente de distensión dentro del patio de
                                ingeniería como yoga, masajes, zumba, entre otras.
                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        </div>
        <div id="modal-card7" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="../images/bienestar_picture.jpeg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Manual Ing UC</p>
                        </div>
                        </div>
                        <div class="content">
                                Para ayudar a los estudiantes en su paso por la universidad, lanzaremos un manual
                                digital con tips y recomendaciones sobre la vida universitaria. Este incluirá consejos
                                para todos los estudiantes que vivan solos, abarcando temáticas como, organización
                                de gastos y del hogar. También dar a conocer todas las facilidades que da la universidad, como el CARA, la SAI, la atención psicológica, entre otras.
                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    </div>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
    <script src="../js/wild.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>  
    </body>
    </html>
    