<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma CAi - Comunidad e Inclusión </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <style>
    .columns:nth-child(2)
    {margin-top: -10rem;}
    </style>
  </head>
  <body>
    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Comunidad e Inclusión
          </p>
        </div>
      </div>
    </section>
    <section class="container">
      <!-- Inicio primera columna -->
      <div class="columns features">
        <!-- Inicio tarjeta -->
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Bienvenida a mitad de año</h4>
                    <p class="tag is-primary">Comunidad</p>
                    <p>No todos empiezan a estudiar ingeniería al mismo tiempo, por lo que es necesaria
                            una actividad de bienvenida para los alumnos provenientes de College y todos los
                            que entren el segundo semestre.</p>
                    <span class="button is-link modal-button" data-target="modal-card">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <!-- Final tarjeta -->
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Guía socioeconómica</h4>
                <p class="tag is-primary">Comunidad</p>
                <p>Cuando un estudiante pasa por una situación que afecta su situación socioeconómica, hay que hacer muchos trámites y hay poca información que sea clara y
                        amigable.</p>
                <span class="button is-link modal-button" data-target="modal-card2">Detalles</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Cocina para estudiantes</h4>
                    <p class="tag is-primary">Comunidad</p>
                    <p>Con el fin de ayudar a todos los estudiantes que viven solos, surge la idea de
                            crear talleres de cocina en donde se les enseñe elementos claves y básicos, de gastronomía.</p>
                    <span class="button is-link modal-button" data-target="modal-card3">Detalles</span>
                </div>
                </div>
            </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Tallarinata Día del Trabajador</h4>
                    <p class="tag is-primary">Comunidad</p>
                    <p>Como la comunidad no la conforman sólo los alumnos y profesores, creemos que es
                            necesario crear instancias en las que podamos generar comunidad con los trabajadores
                            de la facultad.</p>
                    <span class="button is-link modal-button" data-target="modal-card4">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Semana Auxiliar/Trabajador</h4>
                    <p class="tag is-primary">Comunidad</p>
                    <p>Semana o semanas en las que se busca acompañar a un auxiliar/tía del aseo/jardinero,etc
                            en un par de horas de su trabajo diario para conocer una realidad que pasa día a día
                            al lado nuestro </p>
                    <span class="button is-link modal-button" data-target="modal-card5">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Pizarras sala de estudio</h4>
                    <p class="tag is-primary">Comunidad</p>
                    <p>La falta de pizarras en la sala de estudio del CAi se ha vuelto un problema para las
                            tías que realizan el aseo, pues los alumnos rayan vidrios que no están ahí con ese fin
                            y no se limpian fácilmente.</p>
                    <span class="button is-link modal-button" data-target="modal-card6">Detalles</span>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: -10rem;" class="columns features">
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Operaciones de novatos</h4>
                  <p class="tag is-danger">Novatos</p>
                  <p>Las operaciones de novatos son una de las primeras instancias que tienen los
                        novatos para conocerse entre ellos y con los alumnos de generaciones anteriores,
                        además de compartir con los integrantes del equipo CAi.</p>
                  <span class="button is-link modal-button" data-target="modal-card7">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Ruta del Novato</h4>
                  <p class="tag is-danger">Novatos</p>
                  <p>Queremos continuar con esta actividad, realizando competencias con alianzas de
                        las secciones de Desafíos de la Ingeniería. E.</p>
                  <span class="button is-link modal-button" data-target="modal-card8">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Inserción PACE</h4>
                  <p class="tag is-danger">Novatos</p>
                  <p>Hace algunos años que ingresan estudiantes a través de la vía PACE, pero hasta
                        ahora su inserci´on en la comunidad no ha sido lo más fácil.</p>
                  <span class="button is-link modal-button" data-target="modal-card9">Detalles</span>
              </div>
              </div>
          </div>
      </div>
    </div>
    <div style="margin-top: -10rem;" class="columns features">
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Acceso completo y automático a SIDING</h4>
                  <p class="tag is-danger">College</p>
                  <p>Queremos gestionar que el acceso a SIDING sea automático para quienes ingresan
                        a la carrera vía College, ya que mucha información de nuestra carrera se encuentra
                        únicamente en esta plataforma.</p>
                  <span class="button is-link modal-button" data-target="modal-card10">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Capacitaciones inclusivas</h4>
                  <p class="tag is-warning">Inclusión</p>
                  <p>Dentro de nuestra escuela creemos que falta trabajar la inclusión dentro de la
                        sala de clases. Para esto proponemos crear capacitaciones orientadas a ayudantes
                        y profesores.</p>
                  <span class="button is-link modal-button" data-target="modal-card11">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Capacitaciones de lengua inclusiva</h4>
                  <p class="tag is-warning">Inclusión</p>
                  <p>Para unirnos como comunidad es necesario poder empatizar y relacionarnos correctamente entre todos nosotros. Para esto creemos necesario generar un espacio en
                        el que como comunidad podamos aprender lengua de señas.</p>
                  <span class="button is-link modal-button" data-target="modal-card12">Detalles</span>
              </div>
              </div>
          </div>
      </div>
    </div>
    
        

        
    </section>
    
    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny -->
    <div id="modal-card" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Bienvenida a mitad de año</p>
                <p class="tag is-primary">Comunidad</p>
              </div>
            </div>
            <div class="content">
                    No todos empiezan a estudiar ingeniería al mismo tiempo, por lo que es necesaria
                    una actividad de bienvenida para los alumnos provenientes de College y todos los
                    que entren el segundo semestre. Esta actividad estará inspirada en las matrículas
                    oficiales que se realizan en enero, de modo que se les presente cómo funcionan las
                    diversas áreas dentro de Ingeniería y se diviertan un rato. Además, en el caso de
                    los novatos que ingresan en segundo semestre, facilitar el enlace con el Cuerpo de
                    Tutores.
              <br>
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- 3dFlipVertical card tiny [butterfly] -->
    <div id="modal-card2" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Guia socioeconómica</p>
                    <p class="tag is-primary">Comunidad</p>
                </div>
                </div>
                <div class="content">
                        Cuando un estudiante pasa por una situación que afecta su situación socioeconómica, hay que hacer muchos trámites y hay poca información que sea clara y
                        amigable. Queremos generar una forma de acompañamiento en este proceso y que
                        haya alguien encargado de explicar cómo y dónde recurrir para ver sus opciones y
                        posibilidades.
                        
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- Image modal -->
    <div id="modal-card3" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Cocina para estudiantes</p>
                    <p class="tag is-primary">Comunidad</p>
                </div>
                </div>
                <div class="content">
                        Con el fin de ayudar a todos los estudiantes que viven solos, surge la idea de
                        crear talleres de cocina en donde se les enseñe elementos claves y básicos, de gastronomía. También se creará un libro digital con recetas fáciles, prácticas, saludables y económicas, con el apoyo de los mismos estudiantes, la idea es realizar una
                        recolección de recetas.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card4" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Tallarinata Día del Trabajador</p>
                    <p class="tag is-primary">Comunidad</p>
                </div>
                </div>
                <div class="content">
                        Como la comunidad no la conforman sólo los alumnos y profesores, creemos que es
                        necesario crear instancias en las que podamos generar comunidad con los trabajadores
                        de la facultad. Por esto queremos repetir la tallarinata con los funcionarios, en la
                        que puedan compartir un almuerzo y generar vínculos con los estudiantes.
                        
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card5" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Semana Auxiliar/Trabajador</p>
                    <p class="tag is-primary">Comunidad</p>
                </div>
                </div>
                <div class="content">
                        Semana o semanas en las que se busca acompañar a un auxiliar/tía del aseo/jardinero,etc
                        en un par de horas de su trabajo diario para conocer una realidad que pasa día a día
                        al lado nuestro y prácticamente ignoramos, para lograr conectar y formar lazos con
                        esta parte tan importante de la universidad pero que pasa desapercibida. Se podrían
                        armar una pareja de estudiantes por trabajador o hacerlo personal.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card6" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Pizarras sala de estudio</p>
                    <p class="tag is-primary">Comunidad</p>
                </div>
                </div>
                <div class="content">
                        La falta de pizarras en la sala de estudio del CAi se ha vuelto un problema para las
                        tías que realizan el aseo, pues los alumnos rayan vidrios que no están ahí con ese fin
                        y no se limpian fácilmente. Queremos implementar alguna solución para aumentar
                        la cantidad de pizarras, ya sea con adhesivos o pintura.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card7" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Operaciones de novatos</p>
                    <p class="tag is-danger">Novatos</p>
                </div>
                </div>
                <div class="content">
                        Las operaciones de novatos son una de las primeras instancias que tienen los
                        novatos para conocerse entre ellos y con los alumnos de generaciones anteriores,
                        además de compartir con los integrantes del equipo CAi. Para aumentar la inserción
                        de alumnos PACE, quienes tienen los ramos con los novatos, queremos extenderles
                        la invitación a pesar de ser de generaciones anteriores. Además, para incentivar la
                        asistencia haremos que el lunes a vuelta de las operaciones sea día protegido.
                        
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card8" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Ruta del Novato</p>
                    <p class="tag is-danger">Novatos</p>
                </div>
                </div>
                <div class="content">
                        Queremos continuar con esta actividad, realizando competencias con alianzas de
                        las secciones de Desafíos de la Ingeniería. Esta instancia permite que los novatos
                        se conozcan en sus secciones de clases, pero en un ambiente mucho más relajado y
                        divertido. Competirán por ganar la Copa Novata y un premio sorpresa.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card9" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Inserción PACE</p>
                    <p class="tag is-danger">Novatos</p>
                </div>
                </div>
                <div class="content">
                        Hace algunos años que ingresan estudiantes a través de la vía PACE, pero hasta
                        ahora su inserción en la comunidad no ha sido lo más fácil. Queremos organizar
                        instancias en las que nos puedan plantear sus inquietudes para luego gestionar, con
                        las distintas entidades de la Escuela, cómo mejorar esta situación. Además queremos
                        organizar charlas de orientación acorde al avance curricular de los estudiantes PACE.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card11" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Capacitaciones inclusivas</p>
                    <p class="tag is-warning">Inclusión</p>
                </div>
                </div>
                <div class="content">
                        Dentro de nuestra escuela creemos que falta trabajar la inclusión dentro de la
                        sala de clases. Para esto proponemos crear capacitaciones orientadas a ayudantes
                        y profesores en las que se trabaje cómo hacer la experiencia en la sala más fácil
                        para quienes lo necesiten. Para que este proyecto sea lo más efectivo mejor posible,
                        buscaremos trabajar en conjunto con el PIANE.
                        
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card12" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Capacitaciones de lengua inclusiva</p>
                    <p class="tag is-warning">Inclusión</p>
                </div>
                </div>
                <div class="content">
                        Para unirnos como comunidad es necesario poder empatizar y relacionarnos correctamente entre todos nosotros. Para esto creemos necesario generar un espacio en
                        el que como comunidad podamos aprender lengua de señas y así empatizar y mejorar
                        la comunicación con nuestros compañeros con discapacidades auditivas.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card11" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Quiénes nos enseñan</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    La encuesta docente ha sido un tópico muy recurrido los últimos años dado la
                    importancia que tiene para mejorar los cursos y que los profesores reciban feedback
                    constructivos de sus clases. Desde academia proponemos generar instancias donde
                    profesores y alumnos puedan reunirse pero con un objetivo claro de que los profe-
                    sores consigan feedback de primera mano de sus alumnos, además de fomentar estas
                    instancias con un simulacro de encuesta docente para evaluar a los profesores invi-
                    tados. Esta instancia se enfocará en buscar a profesores dispuestos a participar e
                    invitar a un grupo de sus alumnos que hayan cursado o estén cursando algún ramo
                    con el profesor.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card12" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">IPRES en un minuto</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Nuestro objetivo es visibilizar a los profesores y sus proyectos hacia los estudi-
                    antes, en especial a aquellos que están entrando a la universidad. Con el objetivo de
                    aportar conocimiento para que puedan planificar la continuación de estudios en post-
                    grado y aportan al movimiento de la frontera de conocimiento. Nuestra propuesta
                    es preparar una presentación para la primera clase de los cursos, una por major, con
                    las últimas investigaciones realizadas el semestre anterior y trabajar en conjunto con
                    los departamentos, con el objetivo de mostrar a los estudiantes el potencial de lo
                    que están estudiando. Con esto logramos visibilizar también las distintas áreas de
                    investigación que tiene nuestra escuela.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card13" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Actividades competitivas</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Con el enfoque de generar espacios donde se comparta conocimiento con estudi-
                    antes y profesores de intereses afines, proponemos generar actividades competitivas
                    desde el CAi hacia los majors, con el objetivo de reforzar competencias adquiridas
                    o por adquirir desde los distintos estamentos. Además, podremos traer sponsors
                    externos que tengan este tipo de competencias implementadas para bajar la carga
                    logı́stica necesaria para realizar este tipo de eventos. En especial, derivar estos even-
                    tos con el contacto ya consolidado a los capı́tulos, ası́ fortaleciendo las actividades
                    que pueden realizar.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card14" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">CAi moviendo fronteras</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Generar espacios donde los estudiantes que están interesados en aplicar, pero no
                    solamente investigar, puedan convivir con los profesores. Generamos en el primer
                    semestre una recolección de currı́culums de estudiantes que tengan proyectos per-
                    sonales y en el segundo semestre conectarlos con profesores que puedan potenciar
                    el área que desean desarrollar. El objetivo serı́a no quedarse en la investigación ni
                    en la innovación, sino en un punto medio donde generemos propuestas interesantes,
                    llamativas y aplicables.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card15" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Re-evaluándonos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Nosotros somos los ayudantes de nuestros ramos, por lo cual es importante saber
                    cómo estamos realizando nuestra tarea de ayudar a nuestros compañeros de carrera.
                    Por eso, proponemos generar instancias donde estudiantes y ayudantes se reúnan
                    a conversar de sus experiencias en modo de feedback, con el objetivo de mejorar la
                    educación que se entrega en ingenierı́a.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card16" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Transformando ayudantı́as</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Un problema que se presenta para los nuevos ayudantes es saber cómo empezar a
                    enseñar, por lo que proponemos trabajar con el Cuerpo de Ayudantes para mejorar
                    la forma en que se hace cátedra hoy en la escuela, mediante el fortalecimiento de
                    los talleres de capacitación. Además de incluir en estos talleres propuestas de cómo
                    incluir a estudiantes en situación de discapacidad en las ayudantı́as y como darles
                    herramientas potentes para sobrellevar la universidad.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card17" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Consultando mis ramos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Hoy en dı́a, para saber qué ramos tomar, los estudiantes consultan en el grupo
                    ”CURSOS UC” sobre los profesores y ramos recomendados. Esta es una plataforma
                    informal, la cual no está siempre completa con la información que uno busca. Existe
                    la encuesta docente que busca evaluar a los profesores y ayudarlos a mejorar sus
                    clases. Nuestra propuesta es hacer una plataforma formal en la cual los estudiantes
                    evalúan tanto a los profesores como a los ramos (ambos calificados numéricamente y
                    con comentarios). Esta plataforma hará públicos los resultados de sus encuestas para
                    que los estudiantes puedan elegir qué ramos tomar. El último objetivo es mostrar
                    los promedios finales de cada curso y su porcentaje de reprobación, pues nosotros, el
                    estudiantado, tenemos derecho a estar informados. Para tener acceso a la plataforma,
                    una vez establecida, esta requerirá que el usuario conteste la encuesta para poder ver
                    los resultados del resto.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card18" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/comunidad_picture.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Buscacursos a los estudiantes</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Los estudiantes sufren cada vez a la hora de tomar ramos al no saber si su grupo
                    de Banner les va a alcanzar para tomar los cursos que desean. Se propone que desde
                    el CAi o desde los estudiantes, establecer una base de datos la cual registre en qué
                    grupo de banner se acaban los cupos y cuántos de estos avanzan al siguiente. El fin
                    es que los estudiantes accedan a información transparente. Nos basamos en que hay
                    precedentes de este tipo de información ya disponible, por implementaciones propias
                    de estudiantes de nuestra escuela.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
    <script src="../js/wild.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>  
  </body>
</html>