<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Showcase - Personal Portfolio One Page Bulma Theme</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
      integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../css/showcase.css" />
    <script
      src="https://kit.fontawesome.com/2828f7885a.js"
      integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>

  <body>
    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <img src="img/preloader.gif" alt="" />
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Begin Scroll Up Button -->

    <form action="#home">
      <button id="toTop" title="Go to top">
        <i class="fas fa-angle-up"></i>
      </button>
    </form>
    <!-- End Scroll Up Button -->

    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
      <!-- Begin Hero -->
      <section class="hero is-large">
        <!-- Begin Mobile Nav -->
        <nav class="navbar is-transparent is-hidden-desktop" style="background: rgba(255,255, 255, 0.5);">
          <!-- Begin Burger Menu -->
          <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="mobile-nav">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <!-- End Burger Menu -->
          <div id="mobile-nav" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <a class="navbar-item" href="#home">
                  Inicio
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#about-me">
                  Sobre Nosotros
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#services">
                  Áreas
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#skills">
                  Macroproyectos
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#my-work">
                  ODS
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#contact">
                  Contacto
                </a>
              </div>
            </div>
          </div>
        </nav>
        <!-- End Mobile Nav -->
        <!-- Begin Hero Content-->
        <div class="hero-body" style="background: rgba(255,255, 255, 0.5);">
          <div class="container has-text-centered">
            <h1 class="subtitle" style="color: black;" >Hola! Somos</h1>
            <img style="width: 45%;"src="../images/logo.svg" alt="Kiwi standing on oval">
          </div>
        </div>
        <!-- End Hero Content-->
        <!-- Begin Hero Menu -->
        <div class="hero-foot ">
          <div class="hero-foot--wrapper">
            <div class="columns">
              <div class="column is-12 hero-menu-desktop has-text-centered">
                <ul>
                  <li class="is-active" style="text-transform: capitalize;">
                    <a href="#home">inicio</a>
                  </li>
                  <li>
                    <a href="#about-me" style="text-transform: capitalize;">Sobre Nosotros</a>
                  </li>
                  <li>
                    <a href="#services" style="text-transform: capitalize;">Áreas</a>
                  </li>
                  <li>
                    <a href="#skills" style="text-transform: capitalize;">Macroproyectos</a>
                  </li>
                  <li>
                    <a href="#my-work" style="text-transform: capitalize;">ODS</a>
                  </li>
                  <li>
                    <a href="#contact" style="text-transform: capitalize;">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Hero Menu -->
      </section>
      <!-- End Hero -->
    </div>
    <!-- End Header -->

    <!-- Begin Main Content -->
    <div class="main-content">
      <!-- Begin About Me Section -->
      <div class="section-light about-me" id="about-me">
        <div class="container">
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title" style="text-transform: capitalize;">Sigma CAi!</h1>
          </div>
          <div class="columns is-multiline">
            <div
              class="column is-6 has-vertically-aligned-content"
              data-aos="fade-right"
            >
              <p class="is-larger">
                &emsp;&emsp;<strong
                  >Soñamos con una escuela que piense y actúe en grande, soñamos con generar
                  una verdadera comunidad en la Escuela de Ingenierı́a.</strong
                >
              </p>
              <br />
              <p>
                Soñamos con encontrarle
                sentido a la carrera, con ayudar a formar ingenieros ı́ntegros que tengan empatı́a y
                sean conscientes de su entorno, ya sea de la persona que se encuentra al lado, de
                un profesor, de un funcionario, de un vecino de la comuna o de nuestro planeta.
                Soñamos con un verdadero desarrollo sostenible de la Facultad de Ingenierı́a.
              </p>
              <br />
              <div class="is-divider"></div>
              <div class="columns about-links">
                <div class="column">
                  <p class="heading">
                    <strong>Síguenos en Instagram</strong>
                  </p>
                  <div>
                    <a href="https://www.instagram.com/sigma_cai.2020/"><img src="https://img.icons8.com/color/100/000000/instagram-new.png"></a>
                  </div>
                </div>
                <div class="column">
                  <p class="heading">
                    <strong>Síguenos en Facebook</strong>
                  </p>
                  <div>
                    <a href="https://www.facebook.com/sigmacai2020/"><img src="https://img.icons8.com/color/96/000000/facebook.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-6 right-image " data-aos="fade-left">
              <img
                class="is-rounded"
                src="../images/equipo.jpeg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- End About Me Content -->
      <div class="section-dark resume">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">
                nuestro programa
              </h1>
            </div>
            <div class="column is-10 has-text-centered is-offset-1">
              <h2 class="subtitle">
                En él buscamos abarcar los proyectos necesarios para lograr cubrir
                la mayor parte de los ODS.
              </h2>
              <form action="example.docs">
                <button class="button">
                  Descargar programa&emsp;<i class="fad fa-download fa-lg"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Begin Services Content -->
      <div class="section-color services" id="services">
        <div class="container">
          <div class="columns is-multiline" style="display: table; table-layout: fixed;">
            <div
              class="column is-12 about-me"
              data-aos="fade-in"
              data-aos-easing="linear"
            >
              <h1 class="title has-text-centered section-title">Áreas</h1>

              <h2 class="subtitle" style="text-justify: inter-word;">
                Creemos que debemos dar las herramientas necesarias a los estudiantes
                para que puedan encontrar su espacio dentro de la escuela. 
              </h2>
              <br />
            </div>
            <div class="is-12 columns">
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-graduation-cap fa-3x"></i>
                <hr />
                <h2>
                  Academia, Investigación y Emprendimiento
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-paint-brush fa-3x"></i>
                <hr />
                <h2>
                  Artes y Cultura
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-bullhorn fa-3x"></i>
                <hr />
                <h2>
                  Comunicación
                </h2>
              </div>
            </div>
            <div class="columns is-12">
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-heartbeat fa-3x"></i>
                <hr />
                <h2>
                  Bienestar y Salud Mental
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-people-carry fa-3x"></i>
                <hr />
                <h2>
                  Comunidad e Inclusión
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-running fa-3x"></i>
                <hr />
                <h2>
                  Deportes
                </h2>
              </div>
            </div>
            <div class="columns is-12">
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-venus-double fa-3x"></i>
                <hr />
                <h2>
                  Feminismo y Diversidad Sexual
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-university fa-3x"></i>
                <hr />
                <h2>
                  Postgrado
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-info fa-3x"></i>
                <hr />
                <h2>
                  Proyectos CAi
                </h2>
              </div>
            </div>
            <div class="columns is-12">
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-hands-helping fa-3x"></i>
                <hr />
                <h2>
                  Rol Social y Representación
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-globe-americas fa-3x"></i>
                <hr />
                <h2>
                  Sustentabilidad y Medioambiente
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-users fa-3x"></i>
                <hr />
                <h2>
                  Vida Universitaria
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Services Content -->
      <!-- Begin Skills Content -->
      <div class="section-light skills" id="skills">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">Skills</h1>
            </div>
            <div
              class="column is-6"
              data-aos="fade-in"
              data-aos-easing="linear"
            >
              <h1>Adobe Experience Design</h1>
              <progress class="progress" value="70" max="100">30%</progress>
              <h1>Adobe After Effects</h1>
              <progress class="progress" value="65" max="100">30%</progress>
              <h1>Visual Studio Code</h1>
              <progress class="progress" value="58" max="100">45%</progress>
              <h1>Sketch</h1>
              <progress class="progress" value="90" max="100">60%</progress>
            </div>
            <div
              class="column is-6"
              data-aos="fade-in"
              data-aos-easing="linear"
            >
              <h1>HTML</h1>
              <progress class="progress" value="85" max="100">30%</progress>
              <h1>CSS</h1>
              <progress class="progress" value="95" max="100">30%</progress>
              <h1>VueJS</h1>
              <progress class="progress" value="70" max="100">45%</progress>
              <h1>React</h1>
              <progress class="progress" value="60" max="100">60%</progress>
            </div>
          </div>
        </div>
      </div>
      <!-- End Skills Content -->
      <!-- Begin Work Content -->
      <div class="section-dark my-work" id="my-work">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <div class="column is-12">
              <h1 class="title has-text-centered section-title">My Work</h1>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=0');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=10');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=20');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=30');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=40');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=50');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=60');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('https://picsum.photos/320/180?image=70');"
                ></figure>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Work Content -->
      <!-- Begin Contact Content -->
      <div class="section-light contact" id="contact">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in-up"
            data-aos-easing="linear"
          >
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">
                Get in touch
              </h1>
            </div>
            <div class="column is-8 is-offset-2">
              <form
                action="https://formspree.io/email@example.com"
                method="POST"
              >
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="text"
                      placeholder="Ex. Jane Smith"
                      name="Name"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="email"
                      placeholder="Ex. hello@arctheme.com"
                      name="Email"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Message</label>
                  <div class="control">
                    <textarea
                      class="textarea"
                      placeholder="Textarea"
                      name="Message"
                    ></textarea>
                  </div>
                </div>
                <div class="field">
                  <div class="control ">
                    <button class="button submit-button">
                      Submit&nbsp;&nbsp;
                      <i class="fas fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Contact Content -->
    </div>
    <!-- End Main Content -->

    <!-- Begin Footer -->
    <div class="footer">
      <p>
        <strong class="white">Sigma CAi</strong>
      </p>
    </div>
    <!-- End Footer -->

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/showcase.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-out",
        duration: 800,
      });
    </script>
  </body>
</html>
