<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma CAi - Postgrado</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <style>
    .columns:nth-child(2)
    {margin-top: -10rem;}
    </style>
  </head>
  <body>
    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Postgrado
          </p>
        </div>
      </div>
    </section>
    <section class="container">
      <!-- Inicio primera columna -->
      <div class="columns features">
        <!-- Inicio tarjeta -->
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/postgrado_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Encuentros pre/postgrado</h4>
                    <p>Actualmente se han realizado distintas instancias de reunión en donde estudiantes
                            de postgrado y pregrado comparten ideas para poder tener una visión más clara
                            sobre lo que es tener una experiencia de postgrado.</p>
                    <span class="button is-link modal-button" data-target="modal-card1">Detalles</span>

                </div>
                </div>
            </div>
        </div>
        <!-- Final tarjeta -->
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../images/postgrado_picture.jpeg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Inclusión de extranjeros</h4>
                <p>Una parte importante de los estudiantes de postgrado no proviene de una articulación desde nuestra Escuela. Por lo mismo, es necesario apoyarlos e incluirlos como
                        miembros de la misma.  </p>
                <span class="button is-link modal-button" data-target="modal-card2">Detalles</span>

              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/postgrado_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Charlas de postgrado</h4>
                    <p>Las charlas de posgrado han permitido que los alumnos de postgrado tengan
                            oportunidades de presentar su trabajo a la comunidad y de esta forma mostrar la
                            importancia del trabajo que se hace en investigación.</p>
                    <span class="button is-link modal-button" data-target="modal-card3">Detalles</span>

                </div>
                </div>
            </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/postgrado_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Coordinación de Capítulos Estudiantiles</h4>
                    <p>Los Capítulos Estudiantiles de diferentes departamentos han demostrado ser una
                            plataforma mucho más cercana para los alumnos de postgrado, pero algunos, con el
                            tiempo, han cesado sus funciones. </p>
                    <span class="button is-link modal-button" data-target="modal-card4">Detalles</span>

                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/postgrado_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Sustentabilidad en postgrado </h4>
                    <p>Una de las grandes temáticas actuales se asocian a problemas relacionados con el
                            cambio climático y el calentamiento global. Estamos enfrentando una crisis y somos
                            la generación que debe tomar decisiones </p>
                            <span class="button is-link modal-button" data-target="modal-card5">Detalles</span>

                </div>
                </div>
            </div>
      
        
    </section>
    
    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny -->
    <div id="modal-card1" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../images/postgrado_picture.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Encuentros pre/postgrado</p>
              </div>
            </div>
            <div class="content">
                    Actualmente se han realizado distintas instancias de reunión en donde estudiantes
                    de postgrado y pregrado comparten ideas para poder tener una visión más clara
                    sobre lo que es tener una experiencia de postgrado. Buscamos continuar con estas
                    iniciativas y también obtener un feedback de las ideas compartidas para que más
                    estudiantes se motiven a incorporarse en programas de postgrado.
              <br>
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- 3dFlipVertical card tiny [butterfly] -->
    <div id="modal-card2" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/postgrado_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4"> Inclusión de extranjeros</p>
                </div>
                </div>
                <div class="content">
                        Una parte importante de los estudiantes de postgrado no proviene de una articulación desde nuestra Escuela. Por lo mismo, es necesario apoyarlos e incluirlos como
                        miembros de la misma. Retomando trabajos anteriores se desarrollarán bienvenidas
                        para alumnos extranjeros y para alumnos chilenos que provengan de otros programas
                        académicos. Adicionalmente, se busca crear actividades con el resto de los alumnos
                        de postgrado y también con otros estamentos de la escuela, con el fin de generar
                        una inclusión entre las distintas partes y que conlleve una mayor participación en las
                        actividades de la Escuela.

                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <div id="modal-card3" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="../images/postgrado_picture.jpeg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Charlas de postgrado</p>
                        </div>
                        </div>
                        <div class="content">
                                Las charlas de posgrado han permitido que los alumnos de postgrado tengan
                                oportunidades de presentar su trabajo a la comunidad y de esta forma mostrar la
                                importancia del trabajo que se hace en investigación. Además, permite a la gente
                                interesada en postgrado conocer distintas líneas de investigación y armar una idea
                                del trabajo que se realiza día a día.

                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        </div>
        <div id="modal-card4" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="../images/postgrado_picture.jpeg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Coordinación de Capítulos Estudiantiles</p>
                        </div>
                        </div>
                        <div class="content">
                                Los Capítulos Estudiantiles de diferentes departamentos han demostrado ser una
                                plataforma mucho más cercana para los alumnos de postgrado, pero algunos, con el
                                tiempo, han cesado sus funciones. En particular para el área de postgrado buscamos
                                que exista un vínculo entre las temáticas de investigación discutidas en los capítulos
                                con las de los distintos departamentos. De esta manera, los capítulos actuarán como
                                un medio para vincular las investigaciones de los estudiantes con organizaciones
                                internacionales.
                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        </div>
        <div id="modal-card5" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="../images/postgrado_picture.jpeg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Sustentabilidad en postgrado</p>
                        </div>
                        </div>
                        <div class="content">
                                Una de las grandes temáticas actuales se asocian a problemas relacionados con el
                                cambio climático y el calentamiento global. Estamos enfrentando una crisis y somos
                                la generación que debe tomar decisiones que determinarán el curso de la sociedad a
                                futuro. Por esta razón queremos realizar un proyecto que permita dar a conocer a los
                                estudiantes las distintas alternativas que tienen en postgrado para aportar con una
                                investigación que se base en la sustentabilidad. De esta manera se puede generar un
                                cambio haciendo uso de las distintas herramientas que el ámbito científico tiene para
                                ofrecer. La idea es trabajar en conjunto con profesores para que se logre aumentar
                                la cuota de investigaciones asociadas a esta línea, para después crear espacios de
                                encuentro donde se presenten las distintas oportunidades a la comunidad. Una forma
                                de medir que realmente se está dando más importancia a temas de sustentabilidad es a
                                partir del número de participaciones en congresos relacionados con la sustentabilidad
                                y/o el número de citaciones.

                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        </div>
        <div id="modal-card6" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="../images/postgrado_picture.jpeg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Capacitaciones de violencia de género</p>
                        </div>
                        </div>
                        <div class="content">
                            Instruirse en violencia de género es esencial para reconocer situaciones en las que
                            se ejerce, identificar cómo se manifiesta, y saber cómo actuar al respecto, brindando
                            apoyo y ayuda a las víctimas.
                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        </div>
        <div id="modal-card7" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="../images/postgrado_picture.jpeg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Manual Ing UC</p>
                        </div>
                        </div>
                        <div class="content">
                                Para ayudar a los estudiantes en su paso por la universidad, lanzaremos un manual
                                digital con tips y recomendaciones sobre la vida universitaria. Este incluirá consejos
                                para todos los estudiantes que vivan solos, abarcando temáticas como, organización
                                de gastos y del hogar. También dar a conocer todas las facilidades que da la universidad, como el CARA, la SAI, la atención psicológica, entre otras.
                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    </div>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
    <script src="../js/wild.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>  
    </body>
    </html>
    