<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma CAi - Proyectos CAi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <style>
    .columns:nth-child(2)
    {margin-top: -10rem;}
    </style>
  </head>
  <body>
    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Proyectos CAi
          </p>
        </div>
      </div>
    </section>
    <section class="container">
      <!-- Inicio primera columna -->
      <div class="columns features">
        <!-- Inicio tarjeta -->
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Sistema de organización de fechas y espacios</h4>
                    <p>Queremos que todos los proyectos puedan difundir sus actividades e invitar a
                            nuevos estudiantes a participar.</p>
                    <span class="button is-link modal-button" data-target="modal-card1">Detalles</span>

                </div>
                </div>
            </div>
        </div>
        <!-- Final tarjeta -->
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Apoyo en difusión de actividades</h4>
                <p>Sabemos que llegar a la mayor cantidad de estudiantes es complejo, por lo que
                        queremos apoyar en la difusión de sus actividades y comunicados.  </p>

              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Feria de Proyectos</h4>
                    <p>Una de las grandes instancias que existen para dar a conocer a los Proyectos
                            CAi es la feria realizada a principios de año. </p>
                    <span class="button is-link modal-button" data-target="modal-card3">Detalles</span>

                </div>
                </div>
            </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Mapa de Proyectos</h4>
                    <p>Para potenciar la difusión de los proyectos, queremos crear un mapa que señalice
                            dónde se encuentra cada uno de ellos (en caso de tener oficina) y la información de
                            contacto.</p>

                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Infraestructura </h4>
                    <p>Realizar un catastro de las condiciones en las que se encuentran las oficinas y los
                            materiales que se les prestan. </p>
                            <span class="button is-link modal-button" data-target="modal-card5">Detalles</span>

                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Currículum Invisible </h4>
                    <p>Muchos de nuestros compañeros llevan a cabo proyectos extra académicos, ayudando a que nuestra comunidad sea un lugar más completo e integral. </p>
                            <span class="button is-link modal-button" data-target="modal-card6">Detalles</span>

                </div>
                </div>
            </div>
      
        
    </section>
    
    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny -->
    <div id="modal-card1" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Sistema de organización de fechas y espacios</p>
              </div>
            </div>
            <div class="content">
                    Queremos que todos los proyectos puedan difundir sus actividades e invitar a
                    nuevos estudiantes a participar. Con esto en mente, queremos que la distribución de
                    fechas y de espacios sea de tal manera que no coincidan y que esté acordado entre
                    todos los Proyectos.
              <br>
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- 3dFlipVertical card tiny [butterfly] -->
    <div id="modal-card2" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4"> Inclusión de extranjeros</p>
                </div>
                </div>
                <div class="content">
                        Una parte importante de los estudiantes de postgrado no proviene de una articulación desde nuestra Escuela. Por lo mismo, es necesario apoyarlos e incluirlos como
                        miembros de la misma. Retomando trabajos anteriores se desarrollarán bienvenidas
                        para alumnos extranjeros y para alumnos chilenos que provengan de otros programas
                        académicos. Adicionalmente, se busca crear actividades con el resto de los alumnos
                        de postgrado y también con otros estamentos de la escuela, con el fin de generar
                        una inclusión entre las distintas partes y que conlleve una mayor participación en las
                        actividades de la Escuela.

                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <div id="modal-card3" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Ferias de Proyectos</p>
                        </div>
                        </div>
                        <div class="content">
                                Una de las grandes instancias que existen para dar a conocer a los Proyectos
                                CAi es la feria realizada a principios de año. Esperamos calendarizar esta instancia
                                estableciendo un consenso entre todos.


                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        </div>
        <div id="modal-card4" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Coordinación de Capítulos Estudiantiles</p>
                        </div>
                        </div>
                        <div class="content">
                                Los Capítulos Estudiantiles de diferentes departamentos han demostrado ser una
                                plataforma mucho más cercana para los alumnos de postgrado, pero algunos, con el
                                tiempo, han cesado sus funciones. En particular para el área de postgrado buscamos
                                que exista un vínculo entre las temáticas de investigación discutidas en los capítulos
                                con las de los distintos departamentos. De esta manera, los capítulos actuarán como
                                un medio para vincular las investigaciones de los estudiantes con organizaciones
                                internacionales.
                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        </div>
        <div id="modal-card5" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Infraestructura</p>
                        </div>
                        </div>
                        <div class="content">
                                Realizar un catastro de las condiciones en las que se encuentran las oficinas y los
                                materiales que se les prestan. El objetivo de esto es preocuparnos del espacio que
                                tienen nuestros compañeros para desempeñar lo que les apasiona.

                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        </div>
        <div id="modal-card6" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Currículum Invisible</p>
                        </div>
                        </div>
                        <div class="content">
                                Muchos de nuestros compañeros llevan a cabo proyectos extra académicos, ayudando a que nuestra comunidad sea un lugar más completo e integral. Es por esto
                                que consideramos esencial seguir trabajando para que la Escuela reconozca la entrega
                                de los coordinadores de proyectos, a través de la oficialización por currículum de su
                                participación.
                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        </div>
        <div id="modal-card7" class="modal modal-fx-3dSlit">
                <div class="modal-background"></div>
                <div class="modal-content is-tiny">
                    <!-- content -->
                    <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Manual Ing UC</p>
                        </div>
                        </div>
                        <div class="content">
                                Para ayudar a los estudiantes en su paso por la universidad, lanzaremos un manual
                                digital con tips y recomendaciones sobre la vida universitaria. Este incluirá consejos
                                para todos los estudiantes que vivan solos, abarcando temáticas como, organización
                                de gastos y del hogar. También dar a conocer todas las facilidades que da la universidad, como el CARA, la SAI, la atención psicológica, entre otras.
                        <br>
                        </div>
                    </div>
                    </div>
                    <!-- end content -->
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    </div>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
    <script src="../js/wild.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>  
    </body>
    </html>
    