<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma CAi - Rol Social y Representación</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <style>
    .columns:nth-child(2)
    {margin-top: -10rem;}
    </style>
  </head>
  <body>
    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Rol Social y Representación
          </p>
        </div>
      </div>
    </section>
    <section class="container">
      <!-- Inicio primera columna -->
      <div class="columns features">
        <!-- Inicio tarjeta -->
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>EduCAi</h4>
                    <p>Entendiendo la responsabilidad pública como una urgencia de hacernos cargo
                            de las problemáticas que están ocurriendo en la sociedad, creemos preciso generar
                            conciencia en la escuela.</p>
                    <span class="button is-link modal-button" data-target="modal-card">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <!-- Final tarjeta -->
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Workshop abiertos</h4>
                <p>Observamos que muchas veces faltan actividades y proyectos de la escuela que
                        incluyan a funcionarios y trabajadores subcontratados, lo que dificulta el vínculo
                        que debería tener la escuela para con ellos.</p>
                <span class="button is-link modal-button" data-target="modal-card2">Detalles</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Escuela de líderes</h4>
                    <p>Vivimos en una realidad donde constantemente surgen oportunidades a nivel de
                            escuela, nacional y global de las cuales muy pocas llegan a los alumnos, y muchas
                            veces estos no saben cómo aprovecharlas. </p>
                    <span class="button is-link modal-button" data-target="modal-card3">Detalles</span>
                </div>
                </div>
            </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Debates al patio </h4>
                    <p>El patio es un ambiente de social que crea una oportunidad para informar y formar
                            opiniones sobre temas de contingencia a nivel escuela, universidad y nacional.</p>
                    <span class="button is-link modal-button" data-target="modal-card4">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Charlas Aplicación</h4>
                    <p>Observamos que muchas veces en el plan común no se logra alcanzar una noción
                            tan clara de cómo aplicar las herramientas adquiridas en los ramos en la vida real.</p>
                    <span class="button is-link modal-button" data-target="modal-card5">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Ágoras</h4>
                    <p>Queremos continuar y expandir el proyecto de Agoras, que consiste en hacer 
                            almuerzos abiertos con profesores, funcionarios y estudiantes, además de invitados
                            externos, para conversar temas de todo tipo de relevancia nacional <p>
                    <span class="button is-link modal-button" data-target="modal-card6">Detalles</span>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: -10rem;" class="columns features">
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/social_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Aprendiendo a ser delegado</h4>
                  <p>Muchos estudiantes se ven motivados por representar a sus compañeros, pero no
                        tienen los conocimientos y consejos necesarios para desempeñarse de la mejor forma.</p>
                  <span class="button is-link modal-button" data-target="modal-card7">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/social_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Encuentrate con Chile</h4>
                  <p>Es parte de nuestra labor como ingenieros el tener presente la realidad de nuestro
                        país con respecto a los distintos temas de relevancia social.</p>
                  <span class="button is-link modal-button" data-target="modal-card8">Detalles</span>
              </div>
              </div>
          </div>
      
        

        
    </section>
    
    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny -->
    <div id="modal-card" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../images/social_picture.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">EduCAi</p>
              </div>
            </div>
            <div class="content">
                    Entendiendo la responsabilidad pública como una urgencia de hacernos cargo
                    de las problemáticas que están ocurriendo en la sociedad, creemos preciso generar
                    conciencia en la escuela sobre temáticas tan cruciales como lo son la reducción de
                    la pobreza y la desigualdad a través de la educación. Por lo anterior, proponemos
                    el proyecto EduCAi, el cual busca atacar estas problemáticas por medio de talleres
                    a niños provenientes de poblaciones en situación vulnerable ubicadas en la ciudad
                    de Santiago. Dichos talleres serán dictados por estudiantes de la escuela y tratarán
                    de herramientas ingenieriles adaptadas para los niños de la edad, tales como talleres
                    de programación, estructura, entre otras actividades de ingenio. De esta forma,
                    los estudiantes podrán impactar directamente con herramientas ingenieriles en la
                    educación de estos niños al compartir el conocimiento adquirido en la escuela.
              <br>
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- 3dFlipVertical card tiny [butterfly] -->
    <div id="modal-card2" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Workshop abiertos</p>
                </div>
                </div>
                <div class="content">
                        Observamos que muchas veces faltan actividades y proyectos de la escuela que
                        incluyan a funcionarios y trabajadores subcontratados, lo que dificulta el vínculo
                        que debería tener la escuela para con ellos. Para dar solución a lo anterior, proponemos los workshops abiertos, que consisten en talleres de herramientas ingenieriles tales como Excel, LaTeX, entre otros. De esta forma, la escuela estará compartiendo el conocimiento con la comunidad y no lo dejará reducido al estudiantado.
                        Además abrir la posibilidad a familiares de estudiantes a participar y ofrecer un
                        reconocimiento si se asiste a una cantidad pertinente de workshops de un mismo
                        tema.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- Image modal -->
    <div id="modal-card3" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Escuela de líderes</p>
                </div>
                </div>
                <div class="content">
                        Vivimos en una realidad donde constantemente surgen oportunidades a nivel de
                        escuela, nacional y global de las cuales muy pocas llegan a los alumnos, y muchas
                        veces estos no saben cómo aprovecharlas. Como CAi queremos educar e inspirar a
                        aquellos estudiantes que tengan aspiraciones y capacidades para convertirse en potenciales agentes de cambio de nuestra sociedad, objetivo que lograremos a través
                        de una escuela de líderes, que será construida en conjunto con exponentes que encontremos dentro de nuestra misma comunidad y con el objetivo de traspasar el
                        conocimiento y mantenerlo dentro de la escuela. Dentro de los temas y metodologías
                        habrán workshops, charlas, juegos de rol, se darán a conocer redes globales de líderes,
                        fomentando y enseñando a acceder a estas y paralelamente creando una red local de
                        líderes en ingeniería. Se harán 4 talleres durante un mes a los cuales habrá que
                        inscribirse previamente.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card4" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Debates al Patio</p>
                </div>
                </div>
                <div class="content">
                        El patio es un ambiente de social que crea una oportunidad para informar y formar
                        opiniones sobre temas de contingencia a nivel escuela, universidad y nacional. Es por
                        lo anterior, que proponemos realizar debates periódicamente en el patio de ingeniería,
                        con invitados con visión contrapuesta sobre temas importantes en la actualidad, con
                        el objetivo de que todo asistente se informe sobre las distintas perspectivas de un
                        problema específico y pueda tomar decisiones a futuro de forma informada e integral.
                        Es de suma importancia destacar que este proyecto estará basado en el valor de la
                        tolerancia, donde todas las opiniones son válidas y tienen derecho a ser escuchadas
                        con respeto.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card5" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Charlas Aplicación</p>
                </div>
                </div>
                <div class="content">
                        Observamos que muchas veces en el plan común no se logra alcanzar una noción
                        tan clara de cómo aplicar las herramientas adquiridas en los ramos en la vida real.
                        Es por eso, que proponemos realizar charlas para los estudiantes de dichos ramos,
                        con invitados que trabajan justamente ocupando estas herramientas y expliquen la
                        aplicación y el impacto que estas tienen en la sociedad. De esta forma, el estudiante
                        no se quedará simplemente con lo que aprendóo al estudiar para las interrogaciones
                        sino que tendrá una visión más amplia de lo que puede lograr con lo aprendido.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card6" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Ágoras</p>
                </div>
                </div>
                <div class="content">
                        Queremos continuar y expandir el proyecto de Agoras, que consiste en hacer 
                        almuerzos abiertos con profesores, funcionarios y estudiantes, además de invitados
                        externos, para conversar temas de todo tipo de relevancia nacional con enfoque social.
                        Queremos involucrar el liderazgo como el método de trabajo, para que estas problemáticas puedan ser acatadas por nosotros mismos. Para mejorar el funcionamiento
                        de estas instancias, queremos incentivar la participación de los delegados generacionales y de los consejeros territoriales.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card7" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Aprendiendo a ser delegado</p>
                </div>
                </div>
                <div class="content">
                        Muchos estudiantes se ven motivados por representar a sus compañeros, pero no
                        tienen los conocimientos y consejos necesarios para desempeñarse de la mejor forma.
                        Para esto queremos generar los espacios y ayudas para que, aquellos nuevos delegados
                        que lo necesiten, puedan aprender de delegados anteriores y así realizar su labor de
                        la mejor manera posible.
                        
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card8" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Encuéntrate con Chile</p>
                </div>
                </div>
                <div class="content">
                        Es parte de nuestra labor como ingenieros el tener presente la realidad de nuestro
                        país con respecto a los distintos temas de relevancia social (desigualdad, sustentabilidad, etc.). Debido al éxito que tuvo este proyecto y a la importancia que tiene
                        concientizar a nuestra comunidad sobre estos temas creemos necesario continuarlo.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card8" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Buscando nuevos compromisos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Los capı́tulos son parte importante de nuestros departamentos, por lo que po-
                    tenciarlos debe ser nuestra prioridad desde la academia. En el plano oficial actual,
                    los capı́tulos funcionan separados de los departamentos y muchas veces actuando a
                    través de los delegados. Por esto proponemos trabajar junto a los departamentos
                    para incluir a representantes de cada major, además de los delegados, en los comités
                    de major. Además generar instancias de sana competencia entre los capı́tulos en
                    momentos no académicas donde podamos llevar a la interdisciplina al espacio inter-
                    personal.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card9" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">TED-X para la academia</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Buscando acercar expertos a la comunidad local, proponemos conseguir nueva-
                    mente una licencia TEDx y organizar charlas definidas por el estado del arte. Con
                    esto buscamos reforzar como la escuela se conecta con las nuevas temáticas de inves-
                    tigación y desarrollo cientı́fico. En especial fomentar instancias para investigaciones
                    en sustentabilidad.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card10" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Observando nuestros ramos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Hay muchos datos de nuestros cursos que como estudiantes desconocemos pero
                    están disponibles, estos llegan desde evaluaciones pasadas a resúmenes de notas de los
                    cursos. Por eso proponemos un catastro de promedios de los cursos y evaluaciones
                    en años anteriores, mostrando los resultados abiertamente en el patio. Esto nos
                    permitirá como escuela transparentar los cursos e identificar posibles problemas.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card11" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Quiénes nos enseñan</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    La encuesta docente ha sido un tópico muy recurrido los últimos años dado la
                    importancia que tiene para mejorar los cursos y que los profesores reciban feedback
                    constructivos de sus clases. Desde academia proponemos generar instancias donde
                    profesores y alumnos puedan reunirse pero con un objetivo claro de que los profe-
                    sores consigan feedback de primera mano de sus alumnos, además de fomentar estas
                    instancias con un simulacro de encuesta docente para evaluar a los profesores invi-
                    tados. Esta instancia se enfocará en buscar a profesores dispuestos a participar e
                    invitar a un grupo de sus alumnos que hayan cursado o estén cursando algún ramo
                    con el profesor.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card12" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">IPRES en un minuto</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Nuestro objetivo es visibilizar a los profesores y sus proyectos hacia los estudi-
                    antes, en especial a aquellos que están entrando a la universidad. Con el objetivo de
                    aportar conocimiento para que puedan planificar la continuación de estudios en post-
                    grado y aportan al movimiento de la frontera de conocimiento. Nuestra propuesta
                    es preparar una presentación para la primera clase de los cursos, una por major, con
                    las últimas investigaciones realizadas el semestre anterior y trabajar en conjunto con
                    los departamentos, con el objetivo de mostrar a los estudiantes el potencial de lo
                    que están estudiando. Con esto logramos visibilizar también las distintas áreas de
                    investigación que tiene nuestra escuela.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card13" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Actividades competitivas</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Con el enfoque de generar espacios donde se comparta conocimiento con estudi-
                    antes y profesores de intereses afines, proponemos generar actividades competitivas
                    desde el CAi hacia los majors, con el objetivo de reforzar competencias adquiridas
                    o por adquirir desde los distintos estamentos. Además, podremos traer sponsors
                    externos que tengan este tipo de competencias implementadas para bajar la carga
                    logı́stica necesaria para realizar este tipo de eventos. En especial, derivar estos even-
                    tos con el contacto ya consolidado a los capı́tulos, ası́ fortaleciendo las actividades
                    que pueden realizar.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card14" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">CAi moviendo fronteras</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Generar espacios donde los estudiantes que están interesados en aplicar, pero no
                    solamente investigar, puedan convivir con los profesores. Generamos en el primer
                    semestre una recolección de currı́culums de estudiantes que tengan proyectos per-
                    sonales y en el segundo semestre conectarlos con profesores que puedan potenciar
                    el área que desean desarrollar. El objetivo serı́a no quedarse en la investigación ni
                    en la innovación, sino en un punto medio donde generemos propuestas interesantes,
                    llamativas y aplicables.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card15" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Re-evaluándonos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Nosotros somos los ayudantes de nuestros ramos, por lo cual es importante saber
                    cómo estamos realizando nuestra tarea de ayudar a nuestros compañeros de carrera.
                    Por eso, proponemos generar instancias donde estudiantes y ayudantes se reúnan
                    a conversar de sus experiencias en modo de feedback, con el objetivo de mejorar la
                    educación que se entrega en ingenierı́a.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card16" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Transformando ayudantı́as</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Un problema que se presenta para los nuevos ayudantes es saber cómo empezar a
                    enseñar, por lo que proponemos trabajar con el Cuerpo de Ayudantes para mejorar
                    la forma en que se hace cátedra hoy en la escuela, mediante el fortalecimiento de
                    los talleres de capacitación. Además de incluir en estos talleres propuestas de cómo
                    incluir a estudiantes en situación de discapacidad en las ayudantı́as y como darles
                    herramientas potentes para sobrellevar la universidad.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card17" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Consultando mis ramos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Hoy en dı́a, para saber qué ramos tomar, los estudiantes consultan en el grupo
                    ”CURSOS UC” sobre los profesores y ramos recomendados. Esta es una plataforma
                    informal, la cual no está siempre completa con la información que uno busca. Existe
                    la encuesta docente que busca evaluar a los profesores y ayudarlos a mejorar sus
                    clases. Nuestra propuesta es hacer una plataforma formal en la cual los estudiantes
                    evalúan tanto a los profesores como a los ramos (ambos calificados numéricamente y
                    con comentarios). Esta plataforma hará públicos los resultados de sus encuestas para
                    que los estudiantes puedan elegir qué ramos tomar. El último objetivo es mostrar
                    los promedios finales de cada curso y su porcentaje de reprobación, pues nosotros, el
                    estudiantado, tenemos derecho a estar informados. Para tener acceso a la plataforma,
                    una vez establecida, esta requerirá que el usuario conteste la encuesta para poder ver
                    los resultados del resto.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card18" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/social_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Buscacursos a los estudiantes</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Los estudiantes sufren cada vez a la hora de tomar ramos al no saber si su grupo
                    de Banner les va a alcanzar para tomar los cursos que desean. Se propone que desde
                    el CAi o desde los estudiantes, establecer una base de datos la cual registre en qué
                    grupo de banner se acaban los cupos y cuántos de estos avanzan al siguiente. El fin
                    es que los estudiantes accedan a información transparente. Nos basamos en que hay
                    precedentes de este tipo de información ya disponible, por implementaciones propias
                    de estudiantes de nuestra escuela.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
    <script src="../js/wild.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>  
  </body>
</html>