<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma CAi - Sustentabilidad y Medioambiente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <style>
    .columns:nth-child(2)
    {margin-top: -10rem;}
    </style>
  </head>
  <body>
    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Sustentabilidad y Medioambiente
          </p>
        </div>
      </div>
    </section>
    <section class="container">
      <!-- Inicio primera columna -->
      <div class="columns features">
        <!-- Inicio tarjeta -->
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Infraestructura</h4>
                    <p>En un trabajo colaborativo con nuestros profesores, autoridades y estudiantes,
                            siendo el CAi el gestor y canal de este proceso, buscaremos aprovechar nuestras habilidades e investigaciones, aplicándolos de forma tangible y directa en nuestra escuela.</p>
                    <span class="button is-link modal-button" data-target="modal-card">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <!-- Final tarjeta -->
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Ecosistemización de viviendas</h4>
                <p>En un nuevo formato de voluntariado y buscando colaborar con otras facultades,
                        planteamos soluciones de agroecología para realizar restauración ambiental.</p>
                <span class="button is-link modal-button" data-target="modal-card2">Detalles</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Estándares para eventos</h4>
                    <p>Todos nuestros eventos deberán adscribirse y cumplir los estándares propuestos
                            por la campaña SustainableCOP de Cverde.</p>
                    <span class="button is-link modal-button" data-target="modal-card3">Detalles</span>
                </div>
                </div>
            </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Coordinador General de Sustentabilidad</h4>
                    <p>Dada la importancia de la temática, tendremos un cargo especial para coordinarlo. Se potenciará que esto sea permanente para los futuros centros de alumnos.</p>
                    <span class="button is-link modal-button" data-target="modal-card4">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                  <h4>Academia de sustentabilidad</h4>
                  <p>Con el objetivo de educar respecto al contexto global y nacional, para poder
                        comprender la crisis desde todos sus aspectos y considerando aproximaciones desde
                        distintos enfoques. </p>
                  <span class="button is-link modal-button" data-target="modal-card7">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Alimentación y manejo de residuos</h4>
                    <p>Todos los eventos organizados por el CAi y que entreguen el servicio de comida
                            tendrán opciones vegetarianas y veganas.</p>
                    <span class="button is-link modal-button" data-target="modal-card6">Detalles</span>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: -10rem;" class="columns features">
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                <h4>Congreso: Pequeñas elecciones con un gran impacto</h4>
                <p>A través de este congreso profundizaremos en estos impactos y presentaremos nuevas alternativas
                  que nos permitirán con pequeños cambios en nuestra rutina disminuir nuestro impacto de forma significativa.</p>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Transparencia de Gasto Energético de ingenierı́a</h4>
                  <p>Con el objetivo de educar respecto a nuestras contribuciones se transparentara
                        en la página del CAi el gasto diario de electricidad en los edificios de ingeniería.</p>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Arriendo de tazas y cubiertos</h4>
                  <p>el CAi continuará facilitando tazas y cubiertos para que los alumnos puedan usar estos dejando su TUC, ya sea para sus almuerzos
                     o para comprar líquidos en locales que si tienen esta modalidad</p>
                  <span class="button is-link modal-button" data-target="modal-card12">Detalles</span>
             </div>
              </div>
          </div>
      </div>
    </div>
    <div style="margin-top: -10rem;" class="columns features">
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Implementación de programa de oficinas verdes para todas las oficinas de
                        Ingeniería</h4>
                  <p>Continuar con la implementación del programa de oficinas verdes dirigido por la
                        Dirección de Sustentabilidad e implementado en la oficina del CAi</p>
                  <span class="button is-link modal-button" data-target="modal-card10">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>SustentaING</h4>
                  <p>Continuar con el proyecto iniciado en Boralá CAi que en conjunto con ONG’s
                        chilenas busca realizar acciones de remediación ambiental en nuestro país, realizando
                        dos versiones durante el 2020.</p>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Campaña MiVaso</h4>
                  <p>Continuar el trabajo con MiVaso iniciado en Punto CAi con el
                        objetivo de reducir el uso de vasos plásticos de un solo uso durante los eventos y
                        fiestas de Ingeniería.</p>
              </div>
              </div>
          </div>
      </div>
    </div>
    <div class="columns features">
      <!-- Inicio tarjeta -->
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                <h4>Comisión informada</h4>
                <p>La comisión de sustentabilidad no solo será un espacio de trabajo, si no que también de reflexión y aprendizaje liderado por la coordinadora de sustentabilidad</p>
                <span class="button is-link modal-button" data-target="modal-card11">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <!-- Final tarjeta -->
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Pensamiento sistémico en proyectos de voluntariado</h4>
              <p>Como CAi extendermos la invitacion a los proyectos a participar de un
                 proceso de capacitaciones que les permita aplicar este concepto a sus procesos.</p>
              <span class="button is-link modal-button" data-target="modal-card13">Detalles</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Final tarjeta -->
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Trabajo en conjunta con Dirección de Sustentabilidad UC</h4>
                  <p>Se buscará continuar el trabajo y contacto permanente ya iniciado con la Dirección de Sustentabilidad en 2019</p>
                </div>
                </div>
            </div>
        </div>
      </div>
      <div class="columns features">
        <!-- Inicio tarjeta -->
        <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Acción por el 6D</h4>
              <p>Unirnos a la campaña global del 6 de Diciembre, que tiene por objetivo que en
                      este día todos los ciudadanos del mundo realicen grandes o pequeñas acciones.</p>
              <span class="button is-link modal-button" data-target="modal-card5">Detalles</span>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                <h4>No más impresión</h4>
                <p>Existen ramos que exigen entregar tareas, informes, entre otras cosas, impresas, cuando perfectamente se pueden enviar por alguna plataforma universitaria.</p>
                <span class="button is-link modal-button" data-target="modal-card9">Detalles</span>
              </div>
              </div>
          </div>
      </div>
    </div>
    <div class="columns features">
      <!-- Inicio tarjeta -->
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Vermi compost</h4>
                  <p>En conjunto con la dirección de Sustentabilidad UC se iniciará el proceso de implementación de vermicomposteras
                    en ingeniería para lograr un correcto manejo de los residuos orgánicos.</p>
              </div>
              </div>
          </div>
      </div>
      <!-- Final tarjeta -->
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Reforestemos Macul</h4>
              <p>llevaremos a cabo en conjunto al Centro de Alumnos de Ingeniería comercial UC,
                 jornadas de reforestación en distintas zonas de la comuna.
                 Con esta iniciativa se busca mejorar la calidad de vida de los vecinos y vecinas y acercarlos a el cuidado del medio ambiente.</p>
              <span class="button is-link modal-button" data-target="modal-card2">Detalles</span>
            </div>
          </div>
        </div>
      </div>
      </div>


    </section>

    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny -->
    <div id="modal-card" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Infraestructura</p>
              </div>
            </div>
            <div class="content">
                    En un trabajo colaborativo con nuestros profesores, autoridades y estudiantes,
                    siendo el CAi el gestor y canal de este proceso, buscaremos aprovechar nuestras habilidades e investigaciones, aplicándolos de forma tangible y directa en nuestra escuela.
                    La primera etapa de este proyecto consistirá en implementar dos áreas específicas
                    de investigaci´on que aportarán a posicionar nuestra escuela como un ejemplo de las
                    nuevas prácticas que se deben implementar en temas infraestructurales.
                    1. Techos y Paredes verdes
                    Tenemos docentes especializados y ya realizando investigaciones en esta área.
                    Los beneficios de estos elementos en temas de eficiencia energética, disminución
                    de temperaturas y beneficios ecosistémicos, han sido comprobados científicamente
                    y tenemos que aprovechar a nuestros docentes.
                    2. Edificios Net Positive
                    Las tecnologías aplicadas a nuevas energías innovadoras y limpias están cada
                    vez más presentes en nuestra sociedad. Es por esto que todos los edificios nuevos
                    deben ser planteados de manera que sus gastos energéticos sean abastecidos
                    por energías provenientes del mismo edificio (ya sea mediante paneles solares,
                    energía eólica u otras), en conjunto con un modelo de planificación adecuado
                    que priorice la eficiencia energética en vez de la estética. En segunda instancia,
                    se deberá comenzar la planificación de reacondicionamiento de los edificios ya
                    existentes, para que estos cumplan estas normas.
              <br>
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- 3dFlipVertical card tiny [butterfly] -->
    <div id="modal-card2" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Ecosistemización de viviendas</p>
                </div>
                </div>
                <div class="content">
                        En un nuevo formato de voluntariado y buscando colaborar con otras facultades,
                        planteamos soluciones de sustentabilización o ecosistemización de viviendas. Ya sea
                        mediante el reacondicionamiento de estas usando sistemas de agua lluvia, mejora de
                        aislamiento o construirlas considerando la Bioarquitectura del lugar, como también
                        buscando que estas tengan un rol ecosistémico en el lugar que sean emplazadas,
                        contribuyendo a la conservación de la naturaleza del lugar. Este voluntariado sera
                        realizado a mediados del segundo semestre.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- Image modal -->
    <div id="modal-card3" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Estándares para eventos</p>
                </div>
                </div>
                <div class="content">
                        Todos nuestros eventos deberán adscribirse y cumplir los estándares propuestos
                        por la campaña SustainableCOP de Cverde. Esta es levantada desde la sociedad civil
                        y establece normas internacionales para eventos de manera que estos sean cuidadosos
                        y amigables con el medioambiente.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card4" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Coordinación General de Sustentabilidad</p>
                </div>
                </div>
                <div class="content">
                        Dada la importancia de la temática, queremos tener un cargo especial para coordinarlo. Es por esto que se crea el cargo de Coordinación Genetal de Sustentabilidad,
                        cuya labor consta de supervisar y guiar al equipo CAi para que este cumpla con los
                        estándares mínimos de sustentabilidad en todas las instancias que se den durante el
                        año. Además de educar mediante proyectos al estudiantado en temáticas actuales y
                        de sustentabilidad, por último se perseguirán cambios profundos a nivel escuela para
                        que esta sea un ejemplo en el ámbito a nivel nacional y global.

                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card5" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Acción por el 6D</p>
                </div>
                </div>
                <div class="content">
                        Unirnos a la campaña global del 6 de Diciembre, que tiene por objetivo que en
                        este día todos los ciudadanos del mundo realicen grandes o pequeñas acciones. Su
                        objetivo es aportar a la solución de la crisis climática, realizando una acción como
                        Escuela de Ingeniería.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card6" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Alimentación y manejo de residuos</p>
                </div>
                </div>
                <div class="content">
                        Todos los eventos organizados por el CAi y que entreguen el servicio de comida
                        tendrán opciones vegetarianas y veganas, optando en primera instancia por aquellas
                        propuestas que tengan un impacto positivo en nuestra comunidad y medioambiente
                        (como por ejemplo tales como Replanteando la alimentación y Voló). Por último el
                        Centro de Alumnos se encargará de hacer un correcto manejo de sus residuos, tanto
                        orgánicos como inorgánicos, para que estos sean dispuestos de manera correcta.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card7" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Academia de sustentabilidad</p>
                </div>
                </div>
                <div class="content">
                        Con el objetivo de educar respecto al contexto global y nacional, para poder
                        comprender la crisis desde todos sus aspectos y considerando aproximaciones desde
                        distintos enfoques se realizará una academia de sustentabilidad. Esta se dividirá en
                        4 módulos, realizando 1 por semana, para que la comunidad se inscriba en el que más
                        le interese y acomode a su horario. Se invitarán invitados especiales y se buscará
                        nuevas dinámicas para salir del formato expositor/oyente. El proyecto se desarrollará
                        a mediados del primer semestre.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card7" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">¿BusCAi equipo?</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Se ha visto que muchas veces un emprendimiento no surge no por no ser buena
                    idea, sino porque falta un integrante en el equipo con habilidades o conocimiento
                    clave que no se pudo encontrar. Como CAi, queremos establecer esas relaciones
                    entre personas de diferentes especialidades en la Escuela de Ingenierı́a para que, en
                    conjunto, se pueda continuar el desarrollo del proyecto para llegar al objetivo con
                    éxito.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card8" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Buscando nuevos compromisos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Los capı́tulos son parte importante de nuestros departamentos, por lo que po-
                    tenciarlos debe ser nuestra prioridad desde la academia. En el plano oficial actual,
                    los capı́tulos funcionan separados de los departamentos y muchas veces actuando a
                    través de los delegados. Por esto proponemos trabajar junto a los departamentos
                    para incluir a representantes de cada major, además de los delegados, en los comités
                    de major. Además generar instancias de sana competencia entre los capı́tulos en
                    momentos no académicas donde podamos llevar a la interdisciplina al espacio inter-
                    personal.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card9" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">No más impresión</p>
                </div>
                </div>
                <div class="content">
                        Existen ramos que exigen entregar tareas, informes, entre otras cosas, impresas, cuando perfectamente se pueden enviar por alguna plataforma universitaria.
                        Además, existen muchas campañas que entregan infografías que duran 10 segundos
                        en las manos del receptor(a) para ser botados en el primer basurero que se encuentre
                        en el camino. Es por esto que nos comprometemos a incentivar nuevas formas de
                        hacer difusiones y conversar esto con los respectivos ramos.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card10" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Implementación de programa de oficinas verdes para todas las oficinas de
                            Ingeniería</p>
                </div>
                </div>
                <div class="content">
                        Continuar con la implementación del programa de oficinas verdes dirigido por la
                        Dirección de Sustentabilidad e implementado en la oficina del CAi por primera vez
                        por Punto CAi y obtener el compromiso de la escuela para la implementación de esto
                        en todas las oficinas administrativas.

                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card11" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Comisión informada</p>
                </div>
                </div>
                <div class="content">
                        La comisión de sustentabilidad no solo será un espacio de trabajo,
                        si no que también de reflexión y aprendizaje liderado por la coordinadora
                         de sustentabilidad. Semana a semana se profundizará en temas de sustentabilidad
                          en distintas áreas creando un espacio donde las personas puedan explorar las
                          distintas aristas de esta y complementarse entre sí.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card12" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Arriendo de tazas y cubiertos</p>
                </div>
                </div>
                <div class="content">
                        Considerando la gran cantidad de residuos provocados por plásticos de un solo uso por parte de los alumnos, ya sea para café o almuerzo, el CAi continuará facilitando tazas y cubiertos para que los alumnos puedan usar estos dejando su TUC, ya sea para sus almuerzos o para comprar líquidos en locales que si tienen esta modalidad, tales como QuickDeli. Esto será acompañado de una campaña difusiva para fomentar el uso de estos. Por último, apoyaremos iniciativas como Creduce para facilitar su implementación dentro de la escuela.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card13" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Pensamiento sistémico en proyectos de voluntariado</p>
                </div>
                </div>
                <div class="content">
                        Uno de los conceptos esenciales que nos brinda la sustentabilidad es cambiar nuestro pensamiento de uni lineal a uno sistemico, en donde nuestras acciones no  tienen un solo efecto, si no que múltiples, siendo tambien nuestras acciones afectadas por nuestro entorno. Es por esto que como CAi extendermos la invitacion a los proyectos a participar de un proceso de capacitaciones que les permita aplicar este concepto a sus procesos buscando comprender de mejor manera la complejidad de los problemas que hoy en dia nos afectan como sociedad.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
    <script src="../js/wild.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>
  </body>
</html>
