<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma CAi - Sustentabilidad y Medioambiente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <style>
    .columns:nth-child(2)
    {margin-top: -10rem;}
    </style>
  </head>
  <body>
    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Sustentabilidad y Medioambiente
          </p>
        </div>
      </div>
    </section>
    <section class="container">
      <!-- Inicio primera columna -->
      <div class="columns features">
        <!-- Inicio tarjeta -->
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Infraestructura</h4>
                    <p>En un trabajo colaborativo con nuestros profesores, autoridades y estudiantes,
                            siendo el CAi el gestor y canal de este proceso, buscaremos aprovechar nuestras habilidades e investigaciones, aplicándolos de forma tangible y directa en nuestra escuela.</p>
                    <span class="button is-link modal-button" data-target="modal-card">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <!-- Final tarjeta -->
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Ecosistemización de viviendas</h4>
                <p>En un nuevo formato de voluntariado y buscando colaborar con otras facultades,
                        planteamos soluciones de sustentabilización o ecosistemización de viviendas.</p>
                <span class="button is-link modal-button" data-target="modal-card2">Detalles</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Estándares para eventos</h4>
                    <p>Todos nuestros eventos deberán adscribirse y cumplir los estándares propuestos
                            por la campaña SustainableCOP de Cverde.</p>
                    <span class="button is-link modal-button" data-target="modal-card3">Detalles</span>
                </div>
                </div>
            </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Coordinador General de Sustentabilidad</h4>
                    <p>Dada la importancia de la temática, queremos tener un cargo especial para coordinarlo. Es por esto que se crea el cargo de Coordinación Genetal de Sustentabilidad.</p>
                    <span class="button is-link modal-button" data-target="modal-card4">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Acción por el 6D</h4>
                    <p>Unirnos a la campaña global del 6 de Diciembre, que tiene por objetivo que en
                            este día todos los ciudadanos del mundo realicen grandes o pequeñas acciones.</p>
                    <span class="button is-link modal-button" data-target="modal-card5">Detalles</span>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Alimentación y manejo de residuos</h4>
                    <p>Todos los eventos organizados por el CAi y que entreguen el servicio de comida
                            tendrán opciones vegetarianas y veganas.</p>
                    <span class="button is-link modal-button" data-target="modal-card6">Detalles</span>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: -10rem;" class="columns features">
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Academia de sustentabilidad</h4>
                  <p>Con el objetivo de educar respecto al contexto global y nacional, para poder
                        comprender la crisis desde todos sus aspectos y considerando aproximaciones desde
                        distintos enfoques. </p>
                  <span class="button is-link modal-button" data-target="modal-card7">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Transparencia de Gasto Energético de ingenierı́a</h4>
                  <p>Con el objetivo de educar respecto a nuestras contribuciones se transparentara
                        en la página del CAi el gasto diario de electricidad en los edificios de ingeniería.</p>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>No más impresión</h4>
                  <p>Existen ramos que exigen entregar tareas, informes, entre otras cosas, impresas, cuando perfectamente se pueden enviar por alguna plataforma universitaria.</p>
                  <span class="button is-link modal-button" data-target="modal-card9">Detalles</span>
              </div>
              </div>
          </div>
      </div>
    </div>
    <div style="margin-top: -10rem;" class="columns features">
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Implementación de programa de oficinas verdes para todas las oficinas de
                        Ingeniería</h4>
                  <p>Continuar con la implementación del programa de oficinas verdes dirigido por la
                        Dirección de Sustentabilidad e implementado en la oficina del CAi</p>
                  <span class="button is-link modal-button" data-target="modal-card10">Detalles</span>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>SustentaING</h4>
                  <p>Continuar con el proyecto iniciado en Boralá CAi que en conjunto con ONG’s
                        chilenas busca realizar acciones de remediación ambiental en nuestro país, realizando
                        dos versiones durante el 2020.</p>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>Campaña MiVaso</h4>
                  <p>Continuar el trabajo con la fundación MiVaso iniciado en Punto CAi con el
                        objetivo de reducir el uso de vasos plásticos de un solo uso durante los eventos y
                        fiestas de Ingeniería.</p>
              </div>
              </div>
          </div>
      </div>
    </div>
  
        

        
    </section>
    
    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny -->
    <div id="modal-card" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Infraestructura</p>
              </div>
            </div>
            <div class="content">
                    En un trabajo colaborativo con nuestros profesores, autoridades y estudiantes,
                    siendo el CAi el gestor y canal de este proceso, buscaremos aprovechar nuestras habilidades e investigaciones, aplicándolos de forma tangible y directa en nuestra escuela.
                    La primera etapa de este proyecto consistirá en implementar dos áreas específicas
                    de investigaci´on que aportarán a posicionar nuestra escuela como un ejemplo de las
                    nuevas prácticas que se deben implementar en temas infraestructurales.
                    1. Techos y Paredes verdes
                    Tenemos docentes especializados y ya realizando investigaciones en esta área.
                    Los beneficios de estos elementos en temas de eficiencia energética, disminución
                    de temperaturas y beneficios ecosistémicos, han sido comprobados científicamente
                    y tenemos que aprovechar a nuestros docentes.
                    2. Edificios Net Positive
                    Las tecnologías aplicadas a nuevas energías innovadoras y limpias están cada
                    vez más presentes en nuestra sociedad. Es por esto que todos los edificios nuevos
                    deben ser planteados de manera que sus gastos energéticos sean abastecidos
                    por energías provenientes del mismo edificio (ya sea mediante paneles solares,
                    energía eólica u otras), en conjunto con un modelo de planificación adecuado
                    que priorice la eficiencia energética en vez de la estética. En segunda instancia,
                    se deberá comenzar la planificación de reacondicionamiento de los edificios ya
                    existentes, para que estos cumplan estas normas.
              <br>
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- 3dFlipVertical card tiny [butterfly] -->
    <div id="modal-card2" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Ecosistemización de viviendas</p>
                </div>
                </div>
                <div class="content">
                        En un nuevo formato de voluntariado y buscando colaborar con otras facultades,
                        planteamos soluciones de sustentabilización o ecosistemización de viviendas. Ya sea
                        mediante el reacondicionamiento de estas usando sistemas de agua lluvia, mejora de
                        aislamiento o construirlas considerando la Bioarquitectura del lugar, como también
                        buscando que estas tengan un rol ecosistémico en el lugar que sean emplazadas,
                        contribuyendo a la conservación de la naturaleza del lugar. Este voluntariado sera
                        realizado a mediados del segundo semestre.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- Image modal -->
    <div id="modal-card3" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Estándares para eventos</p>
                </div>
                </div>
                <div class="content">
                        Todos nuestros eventos deberán adscribirse y cumplir los estándares propuestos
                        por la campaña SustainableCOP de Cverde. Esta es levantada desde la sociedad civil
                        y establece normas internacionales para eventos de manera que estos sean cuidadosos
                        y amigables con el medioambiente.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card4" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Coordinación General de Sustentabilidad</p>
                </div>
                </div>
                <div class="content">
                        Dada la importancia de la temática, queremos tener un cargo especial para coordinarlo. Es por esto que se crea el cargo de Coordinación Genetal de Sustentabilidad,
                        cuya labor consta de supervisar y guiar al equipo CAi para que este cumpla con los
                        estándares mínimos de sustentabilidad en todas las instancias que se den durante el
                        año. Además de educar mediante proyectos al estudiantado en temáticas actuales y
                        de sustentabilidad, por último se perseguirán cambios profundos a nivel escuela para
                        que esta sea un ejemplo en el ámbito a nivel nacional y global.
                        
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card5" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Acción por el 6D</p>
                </div>
                </div>
                <div class="content">
                        Unirnos a la campaña global del 6 de Diciembre, que tiene por objetivo que en
                        este día todos los ciudadanos del mundo realicen grandes o pequeñas acciones. Su
                        objetivo es aportar a la solución de la crisis climática, realizando una acción como
                        Escuela de Ingeniería.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card6" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Alimentación y manejo de residuos</p>
                </div>
                </div>
                <div class="content">
                        Todos los eventos organizados por el CAi y que entreguen el servicio de comida
                        tendrán opciones vegetarianas y veganas, optando en primera instancia por aquellas
                        propuestas que tengan un impacto positivo en nuestra comunidad y medioambiente
                        (como por ejemplo tales como Replanteando la alimentación y Voló). Por último el
                        Centro de Alumnos se encargará de hacer un correcto manejo de sus residuos, tanto
                        orgánicos como inorgánicos, para que estos sean dispuestos de manera correcta.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card7" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Academia de sustentabilidad</p>
                </div>
                </div>
                <div class="content">
                        Con el objetivo de educar respecto al contexto global y nacional, para poder
                        comprender la crisis desde todos sus aspectos y considerando aproximaciones desde
                        distintos enfoques se realizará una academia de sustentabilidad. Esta se dividirá en
                        4 módulos, realizando 1 por semana, para que la comunidad se inscriba en el que más
                        le interese y acomode a su horario. Se invitarán invitados especiales y se buscará
                        nuevas dinámicas para salir del formato expositor/oyente. El proyecto se desarrollará
                        a mediados del primer semestre.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card7" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">¿BusCAi equipo?</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Se ha visto que muchas veces un emprendimiento no surge no por no ser buena
                    idea, sino porque falta un integrante en el equipo con habilidades o conocimiento
                    clave que no se pudo encontrar. Como CAi, queremos establecer esas relaciones
                    entre personas de diferentes especialidades en la Escuela de Ingenierı́a para que, en
                    conjunto, se pueda continuar el desarrollo del proyecto para llegar al objetivo con
                    éxito.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card8" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Buscando nuevos compromisos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Los capı́tulos son parte importante de nuestros departamentos, por lo que po-
                    tenciarlos debe ser nuestra prioridad desde la academia. En el plano oficial actual,
                    los capı́tulos funcionan separados de los departamentos y muchas veces actuando a
                    través de los delegados. Por esto proponemos trabajar junto a los departamentos
                    para incluir a representantes de cada major, además de los delegados, en los comités
                    de major. Además generar instancias de sana competencia entre los capı́tulos en
                    momentos no académicas donde podamos llevar a la interdisciplina al espacio inter-
                    personal.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card9" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">No más impresión</p>
                </div>
                </div>
                <div class="content">
                        Existen ramos que exigen entregar tareas, informes, entre otras cosas, impresas, cuando perfectamente se pueden enviar por alguna plataforma universitaria.
                        Además, existen muchas campañas que entregan infografías que duran 10 segundos
                        en las manos del receptor(a) para ser botados en el primer basurero que se encuentre
                        en el camino. Es por esto que nos comprometemos a incentivar nuevas formas de
                        hacer difusiones y conversar esto con los respectivos ramos.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card10" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Implementación de programa de oficinas verdes para todas las oficinas de
                            Ingeniería</p>
                </div>
                </div>
                <div class="content">
                        Continuar con la implementación del programa de oficinas verdes dirigido por la
                        Dirección de Sustentabilidad e implementado en la oficina del CAi por primera vez
                        por Punto CAi y obtener el compromiso de la escuela para la implementación de esto
                        en todas las oficinas administrativas.
                        
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card11" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Quiénes nos enseñan</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    La encuesta docente ha sido un tópico muy recurrido los últimos años dado la
                    importancia que tiene para mejorar los cursos y que los profesores reciban feedback
                    constructivos de sus clases. Desde academia proponemos generar instancias donde
                    profesores y alumnos puedan reunirse pero con un objetivo claro de que los profe-
                    sores consigan feedback de primera mano de sus alumnos, además de fomentar estas
                    instancias con un simulacro de encuesta docente para evaluar a los profesores invi-
                    tados. Esta instancia se enfocará en buscar a profesores dispuestos a participar e
                    invitar a un grupo de sus alumnos que hayan cursado o estén cursando algún ramo
                    con el profesor.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card12" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">IPRES en un minuto</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Nuestro objetivo es visibilizar a los profesores y sus proyectos hacia los estudi-
                    antes, en especial a aquellos que están entrando a la universidad. Con el objetivo de
                    aportar conocimiento para que puedan planificar la continuación de estudios en post-
                    grado y aportan al movimiento de la frontera de conocimiento. Nuestra propuesta
                    es preparar una presentación para la primera clase de los cursos, una por major, con
                    las últimas investigaciones realizadas el semestre anterior y trabajar en conjunto con
                    los departamentos, con el objetivo de mostrar a los estudiantes el potencial de lo
                    que están estudiando. Con esto logramos visibilizar también las distintas áreas de
                    investigación que tiene nuestra escuela.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card13" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Actividades competitivas</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Con el enfoque de generar espacios donde se comparta conocimiento con estudi-
                    antes y profesores de intereses afines, proponemos generar actividades competitivas
                    desde el CAi hacia los majors, con el objetivo de reforzar competencias adquiridas
                    o por adquirir desde los distintos estamentos. Además, podremos traer sponsors
                    externos que tengan este tipo de competencias implementadas para bajar la carga
                    logı́stica necesaria para realizar este tipo de eventos. En especial, derivar estos even-
                    tos con el contacto ya consolidado a los capı́tulos, ası́ fortaleciendo las actividades
                    que pueden realizar.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card14" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">CAi moviendo fronteras</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Generar espacios donde los estudiantes que están interesados en aplicar, pero no
                    solamente investigar, puedan convivir con los profesores. Generamos en el primer
                    semestre una recolección de currı́culums de estudiantes que tengan proyectos per-
                    sonales y en el segundo semestre conectarlos con profesores que puedan potenciar
                    el área que desean desarrollar. El objetivo serı́a no quedarse en la investigación ni
                    en la innovación, sino en un punto medio donde generemos propuestas interesantes,
                    llamativas y aplicables.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card15" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Re-evaluándonos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Nosotros somos los ayudantes de nuestros ramos, por lo cual es importante saber
                    cómo estamos realizando nuestra tarea de ayudar a nuestros compañeros de carrera.
                    Por eso, proponemos generar instancias donde estudiantes y ayudantes se reúnan
                    a conversar de sus experiencias en modo de feedback, con el objetivo de mejorar la
                    educación que se entrega en ingenierı́a.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card16" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Transformando ayudantı́as</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Un problema que se presenta para los nuevos ayudantes es saber cómo empezar a
                    enseñar, por lo que proponemos trabajar con el Cuerpo de Ayudantes para mejorar
                    la forma en que se hace cátedra hoy en la escuela, mediante el fortalecimiento de
                    los talleres de capacitación. Además de incluir en estos talleres propuestas de cómo
                    incluir a estudiantes en situación de discapacidad en las ayudantı́as y como darles
                    herramientas potentes para sobrellevar la universidad.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card17" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Consultando mis ramos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Hoy en dı́a, para saber qué ramos tomar, los estudiantes consultan en el grupo
                    ”CURSOS UC” sobre los profesores y ramos recomendados. Esta es una plataforma
                    informal, la cual no está siempre completa con la información que uno busca. Existe
                    la encuesta docente que busca evaluar a los profesores y ayudarlos a mejorar sus
                    clases. Nuestra propuesta es hacer una plataforma formal en la cual los estudiantes
                    evalúan tanto a los profesores como a los ramos (ambos calificados numéricamente y
                    con comentarios). Esta plataforma hará públicos los resultados de sus encuestas para
                    que los estudiantes puedan elegir qué ramos tomar. El último objetivo es mostrar
                    los promedios finales de cada curso y su porcentaje de reprobación, pues nosotros, el
                    estudiantado, tenemos derecho a estar informados. Para tener acceso a la plataforma,
                    una vez establecida, esta requerirá que el usuario conteste la encuesta para poder ver
                    los resultados del resto.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card18" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/ambiente_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Buscacursos a los estudiantes</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Los estudiantes sufren cada vez a la hora de tomar ramos al no saber si su grupo
                    de Banner les va a alcanzar para tomar los cursos que desean. Se propone que desde
                    el CAi o desde los estudiantes, establecer una base de datos la cual registre en qué
                    grupo de banner se acaban los cupos y cuántos de estos avanzan al siguiente. El fin
                    es que los estudiantes accedan a información transparente. Nos basamos en que hay
                    precedentes de este tipo de información ya disponible, por implementaciones propias
                    de estudiantes de nuestra escuela.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
    <script src="../js/wild.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>  
  </body>
</html>