<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma CAi - Vida Universitaria</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <style>
    .columns:nth-child(2)
    {margin-top: -10rem;}
    </style>
  </head>
  <body>
    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Vida Universitaria
          </p>
        </div>
      </div>
    </section>
    <section class="container">
      <!-- Inicio primera columna -->
      <div class="columns features">
        <!-- Inicio tarjeta -->
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Feria de hobbies y clubes</h4>
                    <p>Esta feria que se realizará a principios del primer semestre y reunirá los hobbies
                            y clubes para que los alumnos puedan encontrar su lugar en la Escuela, queremos
                            incentivar los clubes y los diferentes intereses de la comunidad.</p>
                </div>
                </div>
            </div>
        </div>
        <!-- Final tarjeta -->
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Actividades para estudiantes haciendo TAV y novatos en nivelación</h4>
                <p>Organizaremos actividades durante los almuerzos una vez cada dos semanas para
                        hacer más pasaderas esas semanas de estudio con mucho calor. Además es una buena
                        oportunidad para que los novatos conozcan al CAi y se relacionen entre sı́.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Pirinha</h4>
                    <p>Continuaremos con este clásico evento para empezar con motivación el año. Este
                            será un carrete fuera de la universidad con temática tropical, que incluirá distin-
                            tas actividades y distintos ambientes. Para carretear sin dañar el medioambiente,
                            seguiremos implementando la campaña MiVaso y haremos gestión de residuos.</p>
                </div>
                </div>
            </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Gala y Galita</h4>
                    <p>Mantendremos los clásicos de ingenierı́a, con barra abierta, cóctel, música, y un
                            ambiente especial para darlo todo en la pista. Implementaremos nuevas temáticas
                            especiales y sorpresas para la tan esperada Galita y muchas sorpresas más.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Rememberfest</h4>
                    <p>Dado que nuestro perı́odo empieza a final de año, queremos partir con todo y que
                            mejor que un buen carrete para crear vı́nculos de mayor confianza, pasar un buen
                            rato entre compañeros y compañeras, y recordar los momentos especiales del año.</p>

                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                <div class="content">
                    <h4>Disfrutando del tiempo libre</h4>
                    <p>Realizaremos periódicamente actividades en nuestra escuela durante almuerzos o
                            ventanas para generar espacios de distensión y desestresa, como por ejemplo batallas
                            de gallos, tocatas, shows de comedia, shows de magia, proyectar pelı́culas en el CAi,</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: -10rem;" class="columns features">
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image">
              <figure class="image is-4by3">
                  <img src="../images/vida_picture.jpeg" alt="Placeholder image">
              </figure>
              </div>
              <div class="card-content">
              <div class="content">
                  <h4>HallowING</h4>
                  <p>Celebrar este dı́a tan especial con todo, nos pondremos nuestros mejores disfraces,
                        desde los y las estudiantes hasta la directiva de la escuela, ofreciendo un premio único
                        a los tres mejores disfraces de la escuela.</p>
                        <span class="button is-link modal-button" data-target="modal-card">Detalles</span>
              </div>
              </div>
          </div>
      </div>
          <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                    </figure>
                    </div>
                    <div class="card-content">
                    <div class="content">
                        <h4>Mantas al Patio</h4>
                        <p>¿A quién no le ha pasado que se sienta en los pastos de San Joaquı́n y resultan
                                estar mojados? ¿O quiere dormir una siesta en su ventana pero no puede por el
                                insoportable frı́o en invierno?</p>
                              <span class="button is-link modal-button" data-target="modal-card2">Detalles</span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                        </figure>
                        </div>
                        <div class="card-content">
                        <div class="content">
                            <h4>Semana San Agustı́n</h4>
                            <p>Como ya es tradición desde los inicios de Ingenierı́a, las generaciones se verán
                                    enfrentadas en un duelo para defender su honor, y ganarse el preciado trofeo de las
                                    alianzas.</p>
                                <span class="button is-link modal-button" data-target="modal-card3">Detalles</span>
                        </div>
                        </div>
                    </div>
            </div>

        
    </section>
    
    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny -->
    <div id="modal-card" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../images/vida_picture.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">HallowING</p>
              </div>
            </div>
            <div class="content">
                    Celebrar este dı́a tan especial con todo, nos pondremos nuestros mejores disfraces,
                    desde los y las estudiantes hasta la directiva de la escuela, ofreciendo un premio único
                    a los tres mejores disfraces de la escuela. Además, habrán distintas actividades a lo
                    largo del dı́a para celebrar de la mejor manera esta esperada fecha.
              <br>
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- 3dFlipVertical card tiny [butterfly] -->
    <div id="modal-card2" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Mantas al Patio</p>
                </div>
                </div>
                <div class="content">
                    ¿A quién no le ha pasado que se sienta en los pastos de San Joaquı́n y resultan
                    estar mojados? ¿O quiere dormir una siesta en su ventana pero no puede por el
                    insoportable frı́o en invierno? Es por esto que tendremos mantas disponibles para
                    préstamo en el CAi para quienes quieran las soliciten por las horas que sean nece-
                    sarias.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- Image modal -->
    <div id="modal-card2" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Postulación acompañada</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Una vez elegido el fondo al que postular, los emprendedores se encuentran con un
                    nuevo desafı́o: la inscripción. El formulario de postulación a estos fondos suele ser
                    largo, detallado, técnico y engorroso. Es por esto que como CAi queremos acompañar
                    a nuestros compañeros emprendedores proveyéndolos de asesorı́as o mentoring para
                    el proceso de postulación a fondos, conectandolos con la dirección de innovación.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card3" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Semana San Agustı́n</p>
                </div>
                </div>
                <div class="content">
                    Como ya es tradición desde los inicios de Ingenierı́a, las generaciones se verán
                    enfrentadas en un duelo para defender su honor, y ganarse el preciado trofeo de las
                    alianzas. Para ello tendrán que enfrentar competencias de todo tipo que pondrán
                    a prueba su valentı́a y compromiso, todo por defender a su generación y ganar los
                    boletos dorados para el Paradise Garden, paseo inolvidable donde disfrutaras el éxito
                    con toda tu generación, financiado y gestionado por Sigma CAi. ¿Serás tú quien
                    conduzca a tu generación al éxito?
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card4" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Apoyo especifı́co</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Algunas veces un emprendimiento aún es sólamente una idea. Otras veces nece-
                    sita apoyo en un aspecto especı́fico del proceso de diseño para surgir, como el pro-
                    totipo, modelo de negocios, patente, etc. Como CAi queremos ser el nexo entre
                    ese emprendedor y el contacto o profesor especialista que necesita para poder seguir
                    avanzando en su proyecto.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card5" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Semana del Emprendimiento</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Se realizará una semana enfocada al emprendimiento. Entre las actividades que
                    la componen se encontrará la Feria de Emprendimientos de Ingenierı́a UC, la Feria de
                    Fondos Aplicables, Shark Tank y una Feria InterUniversitaria. Esta última consistirá
                    en invitar a estudiantes de otras universidades para presentar también sus proyectos.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card6" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Emprendedores Backstage</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Dar a conocer casos de éxito con emprendedores egresados de la universidad.
                    Para los y las estudiantes es una gran fuente de ayuda y motivación ver a otros
                    estudiantes que han emprendido en ingenierı́a para demostrar que sı́ es posible. Dar
                    esta instancia para resolver dudas y miedos acerca del mundo del emprendimiento.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card7" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">¿BusCAi equipo?</p>
                    <p class="tag is-primary">Emprendimiento</p>
                </div>
                </div>
                <div class="content">
                    Se ha visto que muchas veces un emprendimiento no surge no por no ser buena
                    idea, sino porque falta un integrante en el equipo con habilidades o conocimiento
                    clave que no se pudo encontrar. Como CAi, queremos establecer esas relaciones
                    entre personas de diferentes especialidades en la Escuela de Ingenierı́a para que, en
                    conjunto, se pueda continuar el desarrollo del proyecto para llegar al objetivo con
                    éxito.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card8" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Buscando nuevos compromisos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Los capı́tulos son parte importante de nuestros departamentos, por lo que po-
                    tenciarlos debe ser nuestra prioridad desde la academia. En el plano oficial actual,
                    los capı́tulos funcionan separados de los departamentos y muchas veces actuando a
                    través de los delegados. Por esto proponemos trabajar junto a los departamentos
                    para incluir a representantes de cada major, además de los delegados, en los comités
                    de major. Además generar instancias de sana competencia entre los capı́tulos en
                    momentos no académicas donde podamos llevar a la interdisciplina al espacio inter-
                    personal.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card9" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">TED-X para la academia</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Buscando acercar expertos a la comunidad local, proponemos conseguir nueva-
                    mente una licencia TEDx y organizar charlas definidas por el estado del arte. Con
                    esto buscamos reforzar como la escuela se conecta con las nuevas temáticas de inves-
                    tigación y desarrollo cientı́fico. En especial fomentar instancias para investigaciones
                    en sustentabilidad.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card10" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Observando nuestros ramos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Hay muchos datos de nuestros cursos que como estudiantes desconocemos pero
                    están disponibles, estos llegan desde evaluaciones pasadas a resúmenes de notas de los
                    cursos. Por eso proponemos un catastro de promedios de los cursos y evaluaciones
                    en años anteriores, mostrando los resultados abiertamente en el patio. Esto nos
                    permitirá como escuela transparentar los cursos e identificar posibles problemas.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card11" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Quiénes nos enseñan</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    La encuesta docente ha sido un tópico muy recurrido los últimos años dado la
                    importancia que tiene para mejorar los cursos y que los profesores reciban feedback
                    constructivos de sus clases. Desde academia proponemos generar instancias donde
                    profesores y alumnos puedan reunirse pero con un objetivo claro de que los profe-
                    sores consigan feedback de primera mano de sus alumnos, además de fomentar estas
                    instancias con un simulacro de encuesta docente para evaluar a los profesores invi-
                    tados. Esta instancia se enfocará en buscar a profesores dispuestos a participar e
                    invitar a un grupo de sus alumnos que hayan cursado o estén cursando algún ramo
                    con el profesor.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card12" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">IPRES en un minuto</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Nuestro objetivo es visibilizar a los profesores y sus proyectos hacia los estudi-
                    antes, en especial a aquellos que están entrando a la universidad. Con el objetivo de
                    aportar conocimiento para que puedan planificar la continuación de estudios en post-
                    grado y aportan al movimiento de la frontera de conocimiento. Nuestra propuesta
                    es preparar una presentación para la primera clase de los cursos, una por major, con
                    las últimas investigaciones realizadas el semestre anterior y trabajar en conjunto con
                    los departamentos, con el objetivo de mostrar a los estudiantes el potencial de lo
                    que están estudiando. Con esto logramos visibilizar también las distintas áreas de
                    investigación que tiene nuestra escuela.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card13" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Actividades competitivas</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Con el enfoque de generar espacios donde se comparta conocimiento con estudi-
                    antes y profesores de intereses afines, proponemos generar actividades competitivas
                    desde el CAi hacia los majors, con el objetivo de reforzar competencias adquiridas
                    o por adquirir desde los distintos estamentos. Además, podremos traer sponsors
                    externos que tengan este tipo de competencias implementadas para bajar la carga
                    logı́stica necesaria para realizar este tipo de eventos. En especial, derivar estos even-
                    tos con el contacto ya consolidado a los capı́tulos, ası́ fortaleciendo las actividades
                    que pueden realizar.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card14" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">CAi moviendo fronteras</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Generar espacios donde los estudiantes que están interesados en aplicar, pero no
                    solamente investigar, puedan convivir con los profesores. Generamos en el primer
                    semestre una recolección de currı́culums de estudiantes que tengan proyectos per-
                    sonales y en el segundo semestre conectarlos con profesores que puedan potenciar
                    el área que desean desarrollar. El objetivo serı́a no quedarse en la investigación ni
                    en la innovación, sino en un punto medio donde generemos propuestas interesantes,
                    llamativas y aplicables.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card15" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Re-evaluándonos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Nosotros somos los ayudantes de nuestros ramos, por lo cual es importante saber
                    cómo estamos realizando nuestra tarea de ayudar a nuestros compañeros de carrera.
                    Por eso, proponemos generar instancias donde estudiantes y ayudantes se reúnan
                    a conversar de sus experiencias en modo de feedback, con el objetivo de mejorar la
                    educación que se entrega en ingenierı́a.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card16" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Transformando ayudantı́as</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Un problema que se presenta para los nuevos ayudantes es saber cómo empezar a
                    enseñar, por lo que proponemos trabajar con el Cuerpo de Ayudantes para mejorar
                    la forma en que se hace cátedra hoy en la escuela, mediante el fortalecimiento de
                    los talleres de capacitación. Además de incluir en estos talleres propuestas de cómo
                    incluir a estudiantes en situación de discapacidad en las ayudantı́as y como darles
                    herramientas potentes para sobrellevar la universidad.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card17" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Consultando mis ramos</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Hoy en dı́a, para saber qué ramos tomar, los estudiantes consultan en el grupo
                    ”CURSOS UC” sobre los profesores y ramos recomendados. Esta es una plataforma
                    informal, la cual no está siempre completa con la información que uno busca. Existe
                    la encuesta docente que busca evaluar a los profesores y ayudarlos a mejorar sus
                    clases. Nuestra propuesta es hacer una plataforma formal en la cual los estudiantes
                    evalúan tanto a los profesores como a los ramos (ambos calificados numéricamente y
                    con comentarios). Esta plataforma hará públicos los resultados de sus encuestas para
                    que los estudiantes puedan elegir qué ramos tomar. El último objetivo es mostrar
                    los promedios finales de cada curso y su porcentaje de reprobación, pues nosotros, el
                    estudiantado, tenemos derecho a estar informados. Para tener acceso a la plataforma,
                    una vez establecida, esta requerirá que el usuario conteste la encuesta para poder ver
                    los resultados del resto.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="modal-card18" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="../images/vida_picture.jpeg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4">Buscacursos a los estudiantes</p>
                    <p class="tag is-danger">Academia</p>
                </div>
                </div>
                <div class="content">
                    Los estudiantes sufren cada vez a la hora de tomar ramos al no saber si su grupo
                    de Banner les va a alcanzar para tomar los cursos que desean. Se propone que desde
                    el CAi o desde los estudiantes, establecer una base de datos la cual registre en qué
                    grupo de banner se acaban los cupos y cuántos de estos avanzan al siguiente. El fin
                    es que los estudiantes accedan a información transparente. Nos basamos en que hay
                    precedentes de este tipo de información ya disponible, por implementaciones propias
                    de estudiantes de nuestra escuela.
                <br>
                </div>
            </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
    <script src="../js/wild.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>  
  </body>
</html>